<% if search.any_filter_active? %>
  <div class="info-notice">
    <% if search.filtered_by_date? && search.filtered_by_country? %>
      <p>This information is for trade between the UK and <strong><%= search.country_name %></strong> on <strong><%= search.date.to_formatted_s(:long) %></strong>.</p>
    <% elsif search.filtered_by_country? %>
      <p>This information is for trade between the UK and <strong><%= search.country_name %></strong>.</p>
    <% elsif search.filtered_by_date? %>
      <p>This information is for <strong><%= search.date.to_formatted_s(:long) %></strong>.</p>
    <% end %>
  </div>
<% end %>
