<tr>
  <td>
    <strong><%= link_to heading.code.first(4), section_chapter_heading_commodities_path(@section, @chapter, heading) %></strong>
  </td>
  <td>
    <%= link_to heading.description, section_chapter_heading_commodities_path(@section, @chapter, heading) %>
  </td>
  <td>
    <strong></strong>
  </td>
  <td>
    <strong></strong>
  </td>
</tr>
