<tr>
  <td>
    <strong><%= link_to heading.code.first(4), heading_path(heading) %></strong>
  </td>
  <td>
    <%= link_to heading.description, heading_path(heading) %>
  </td>
  <td>
    <strong></strong>
  </td>
  <td>
    <strong></strong>
  </td>
</tr>
