<% if heading.leaf? %>
  <tr>
    <td>
      <div class="heading-code">
        <div class="code-text"><%= heading.display_short_code %></div>
      </div>
    </td>
    <td>
      <%= link_to heading.formatted_description.html_safe, heading_path(heading, request.query_parameters.symbolize_keys) %>
    </td>
  </tr>
<% else %>
  <tr>
    <td class="heading-subtitle" colspan="2"><%= heading %></td>
  </tr>
  <%= render heading.children %>
<% end %>
