<% if heading.leaf? %>
<tr>
<td>
  <div class="heading-code">
    <div class="code-text">
      <%= heading.display_short_code %>
    </div>
  </div>
</td>
<td>
<% else %>
<td colspan="2"><%= heading %></td>
<td>
<% end %>

  <% if heading.leaf? %>
    <%= link_to heading.formatted_description.html_safe, heading_path(heading, request.query_parameters.symbolize_keys) %>
  <% else %>
  <dl class='chapter-headings'>
    <%= render heading.children %>
  </dl>
  <% end %>

</td>
</tr>