<dt class="heading-code">
  <% if heading.leaf? %>
    <%= heading.display_short_code %>
  <% end %>
</dt>
<% if heading.declarable? %>
<dd class="declarable">
<% else %>
<dd>
<% end %>
  <% if heading.leaf? %>
    <%= link_to heading, heading_path(heading) %>
  <% else %>
    <h2 class='description'><%= heading %></h2>
    <dl class='chapter-headings'>
      <%= render heading.children %>
    </dl>
  <% end %>
</dd>
