<tr>
  <td>
    <strong><%= link_to heading.code, section_chapter_heading_commodities_path(@section, @chapter, heading) %></strong>
  </td>
  <td>
    <%= heading.description %>
  </td>
  <td>
    <strong></strong>
  </td>
  <td>
    <strong></strong>
  </td>
  <td>
    <strong></strong>
  </td>
</tr>
