<div class='browse-sections core-content group'>
  <nav>
    <ul>
      <li>
        <strong>Section</strong>:
        <%= link_to @section, section_chapters_path(@section) %>
      </li>
      <li>
        <strong>Chapter</strong>:
        <%= link_to @chapter, section_chapter_commodities_path(@section, @chapter) %>
      </li>
    </ul>
  </nav>

  <h2>Headings in this chapter</h2>

  <table>
    <thead>
      <tr>
        <td colspan="5">
          <strong>No</strong>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Description</strong>
        </td>
        <td>
          <strong>Footnotes</strong>
        </td>
        <td>
          <strong>Your Notes</strong>
        </td>
      </tr>
    </thead>
    <tbody>
      <%= render @headings %>
    </tbody>
  </table>
</div>
