<div class='browse-sections core-content group ancillary'>
  <nav>
    <ul>
      <li>
        <strong>Section</strong>:
        <%= link_to @heading.chapter.section, section_path(@heading.chapter.section) %>
      </li>
      <li>
        <strong>Chapter</strong>:
        <%= link_to @heading.chapter, chapter_path(@heading.chapter) %>
      </li>
    </ul>
  </nav>

  <h2>Commodities in this heading</h2>

  <table>
    <thead>
      <tr>
        <td>
          <strong>Code</strong>
        </td>
        <td>
          <strong>Description</strong>
        </td>
        <td>
          <strong>Basic duty rate</strong>
        </td>
        <td>
          <strong>Footnotes</strong>
        </td>
        <td>
          <strong>Your Notes</strong>
        </td>
      </tr>
    </thead>
    <tbody>
      <%= render @commodities %>
    </tbody>
  </table>
</div>
