<tr class="chapter">
  <td>
    <div class="chapter-code" title="Chapter code">
      <div class="code-text"><%= chapter.short_code %></div>
    </div>
  </td>
  <td><%= link_to chapter.to_s.html_safe, chapter_path(chapter) %></td>
</tr>
