<dt class="heading-code" title="Heading code"><%= heading.display_short_code %></dt>
<dd>
  <%= link_to heading, heading_path(heading) %>
  <% heading.commodities.each do |commodity| %>
    <div><%= excerpt(commodity.description_plain, search_query, radius: 30) %></div>
  <% end %>
</dd>
