<tr class="heading">
  <td>&nbsp;</td>
  <td>
    <div class="heading-code" title="Heading code">
      <div class="code-text"><%= heading.display_short_code %></div>
    </div>
  </td>
  <td>
    <%= link_to heading.to_s.html_safe, heading_path(heading, { t: @search.t }) %>
    <% heading.commodities.uniq(&:description).each do |commodity| %>
      <div><%= truncate(commodity.description_plain, length: 100) %></div>
    <% end %>
  </td>
</tr>
