<tr>
  <td><%= measure_condition.condition %></td>
  <td><%= measure_condition.document_code %></td>
  <td>
    <%= measure_condition.requirement %>
  </td>
  <td><%= measure_condition.action %></td>
  <td></td>
</tr>
