---
http_interactions:
- request:
    method: get
    uri: http://tariff-api.dev.gov.uk/chapters/01?as_of=2013-11-08
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3cca3fed76da6f541dcbbbbca9ba94fb"'
    body:
      encoding: UTF-8
      string: '{"goods_nomenclature_sid":27623,"goods_nomenclature_item_id":"0100000000","description":"LIVE
        ANIMALS","formatted_description":"Live animals","chapter_note_id":381,"section_id":1,"chapter_note":"!!!","headings":[{"goods_nomenclature_sid":27624,"goods_nomenclature_item_id":"0101000000","declarable":false,"description":"Live
        horses, asses, mules and hinnies","producline_suffix":"80","leaf":true,"description_plain":"Live
        horses, asses, mules and hinnies","formatted_description":"Live horses, asses,
        mules and hinnies","children":[]},{"goods_nomenclature_sid":27633,"goods_nomenclature_item_id":"0102000000","declarable":false,"description":"Live
        bovine animals","producline_suffix":"80","leaf":true,"description_plain":"Live
        bovine animals","formatted_description":"Live bovine animals","children":[]},{"goods_nomenclature_sid":27762,"goods_nomenclature_item_id":"0103000000","declarable":false,"description":"Live
        swine","producline_suffix":"80","leaf":true,"description_plain":"Live swine","formatted_de[...]
