---
http_interactions:
- request:
    method: get
    uri: http://tariff-api.dev.gov.uk/chapters/011?as_of=2013-11-08
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: 404 - Not Found
  recorded_at: Fri, 08 Nov 2013 13:18:15 GMT
- request:
    method: post
    uri: http://tariff-api.dev.gov.uk/search
    body:
      encoding: UTF-8
      string: t=011&as_of=2013-11-08
    headers: {}
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"92117a675eb2b6c8c0a9f1d9bb7b0c7d"'
    body:
      encoding: UTF-8
      string: '{"type":"exact_match","entry":{"endpoint":"chapters","id":"01"}}'
  recorded_at: Fri, 08 Nov 2013 13:18:15 GMT
recorded_with: VCR 2.5.0
