---
http_interactions:
- request:
    method: get
    uri: http://tariff-api.dev.gov.uk/chapters/01?as_of=2012-10-11
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"23b75ff7cb4b8989692603c14aa51652"'
    body:
      encoding: US-ASCII
      string: ! '{"goods_nomenclature_item_id":"0100000000","description":"LIVE ANIMALS","chapter_note":"
        1. This chapter covers all live animals except:\n(a) fish and crustaceans,
        molluscs and other aquatic invertebrates, of heading 0301, 0306, 0307 or 0308;\n(b)
        cultures of micro-organisms and other products of heading 3002; and\n(c) animals
        of heading 9508.","headings":[{"goods_nomenclature_item_id":"0101000000","declarable":false,"description":"Live
        horses, asses, mules and hinnies","producline_suffix":"80","leaf":true,"children":[]},{"goods_nomenclature_item_id":"0102000000","declarable":false,"description":"Live
        bovine animals","producline_suffix":"80","leaf":true,"children":[]},{"goods_nomenclature_item_id":"0103000000","declarable":false,"description":"Live
        swine","producline_suffix":"80","leaf":true,"children":[]},{"goods_nomenclature_item_id":"0104000000","declarable":false,"description":"Live
        sheep and goats","producline_suffix":"80","leaf":true,"children":[]},{"goods_nomenclature_item_id":"0105000000","declarable":false,"description":"Live
        poultry, that is to say, fowls of the species Gallus domesticus, ducks, geese,
        turkeys and guinea fowls","producline_suffix":"80","leaf":true,"children":[]},{"goods_nomenclature_item_id":"0106000000","declarable":false,"description":"Other
        live animals","producline_suffix":"80","leaf":true,"children":[]}],"section":{"title":"Live
        animals; animal products (chapters 1 to 5)","position":1,"numeral":"I"}}'
  recorded_at: Thu, 11 Oct 2012 15:01:32 GMT
recorded_with: VCR 2.2.5
