---
http_interactions:
- request:
    method: get
    uri: http://tariff-api.dev.gov.uk/chapters/01?as_of=2013-09-13
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9ece0643ff9f5696b738f73299cd3996"'
    body:
      encoding: UTF-8
      string: '{"goods_nomenclature_item_id":"0100000000","description":"LIVE ANIMALS","chapter_note_id":null,"headings":[{"goods_nomenclature_item_id":"0101000000","declarable":false,"description":"Live
        horses, asses, mules and hinnies","producline_suffix":"80","leaf":true,"children":[]},{"goods_nomenclature_item_id":"0102000000","declarable":false,"description":"Live
        bovine animals","producline_suffix":"80","leaf":true,"children":[]},{"goods_nomenclature_item_id":"0103000000","declarable":false,"description":"Live
        swine","producline_suffix":"80","leaf":true,"children":[]},{"goods_nomenclature_item_id":"0104000000","declarable":false,"description":"Live
        sheep and goats","producline_suffix":"80","leaf":true,"children":[]},{"goods_nomenclature_item_id":"0105000000","declarable":false,"description":"Live
        poultry, that is to say, fowls of the species Gallus domesticus, ducks, geese,
        turkeys and guinea fowls","producline_suffix":"80","leaf":true,"children":[]},{"goods_nomenclature_item_id":"0106000000","declarable":false,"description":"Other
        live animals","producline_suffix":"80","leaf":true,"children":[]}],"section":{"title":"Live
        animals; animal products","position":1,"numeral":"I"}}'
  recorded_at: Fri, 13 Sep 2013 13:18:15 GMT
- request:
    method: get
    uri: http://tariff-api.dev.gov.uk/chapters/01/changes
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f0bea019f397b36216e34eeaf20f620e"'
    body:
      encoding: UTF-8
      string: '[{"oid":2213392,"model_name":"Measure","operation_date":"2013-09-02","operation":"C","record":{"measure_sid":-307479,"origin":"uk","import":true,"goods_nomenclature_item_id":"0101299000","measure_type_description":"Animal
        Health Certificate","geographical_area":{"geographical_area_id":"1011","description":"ERGA
        OMNES"}}},{"oid":2212948,"model_name":"Measure","operation_date":"2013-09-02","operation":"C","record":{"measure_sid":-307257,"origin":"uk","import":true,"goods_nomenclature_item_id":"0101300000","measure_type_description":"Common
        Veterinary Entry Document (CVED)","geographical_area":{"geographical_area_id":"1011","description":"ERGA
        OMNES"}}},{"oid":2201057,"model_name":"Measure","operation_date":"2013-09-02","operation":"C","record":{"measure_[...]
