---
http_interactions:
- request:
    method: get
    uri: http://tariff-api.dev.gov.uk/commodities/01012100001234?as_of=2013-11-08
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: 404 - Not Found
  recorded_at: Fri, 08 Nov 2013 13:44:50 GMT
- request:
    method: post
    uri: http://tariff-api.dev.gov.uk/search
    body:
      encoding: UTF-8
      string: t=0101210000&as_of=2013-11-08
    headers: {}
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9d734d8438196be77ae4729e40a54e62"'
    body:
      encoding: UTF-8
      string: '{"type":"exact_match","entry":{"endpoint":"commodities","id":"0101210000"}}'
  recorded_at: Fri, 08 Nov 2013 13:44:50 GMT
recorded_with: VCR 2.5.0
