---
http_interactions:
- request:
    method: get
    uri: http://tariff-api.dev.gov.uk/commodities/0101999999?as_of=2013-11-08
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"not found","url":"http://tariff-api.dev.gov.uk/commodities/0101999999?as_of=2013-11-08"}'
  recorded_at: Fri, 08 Nov 2013 13:46:28 GMT
- request:
    method: post
    uri: http://tariff-api.dev.gov.uk/search
    body:
      encoding: UTF-8
      string: t=0101999999&as_of=2013-11-08
    headers: {}
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"cb35b30f07e42b030a7b65b2c6a45bea"'
    body:
      encoding: UTF-8
      string: '{"type":"exact_match","entry":{"endpoint":"headings","id":"0101"}}'
  recorded_at: Fri, 08 Nov 2013 13:46:28 GMT
recorded_with: VCR 2.5.0
