---
http_interactions:
- request:
    method: get
    uri: http://tariff-api.dev.gov.uk/commodities/8714930019?as_of=2012-10-22
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"e0a6be5ff6ae0ff1fed7be5f02724a4c"'
    body:
      encoding: US-ASCII
      string: ! '{"declarable":true,"import_measures":[{"origin":"eu","ordernumber":null,"effective_start_date":"1999-01-01T00:00:00-08:00","effective_end_date":null,"measure_type_id":"103","measure_type_description":"Third
        country duty","legal_act":{"generating_regulation_code":"R2261/98","url":"http://eur-lex.europa.eu/Result.do?code=31998R2261&RechType=RECH_celex","suspended":false},"measure_components":[{"duty_amount":4.7,"duty_expression_id":"01","duty_expression_description":"%
        (Amount)","duty_expression_abbreviation":"%","monetary_unit":null,"measurement_unit":null,"measurement_unit_qualifier":null}],"measure_conditions":[],"geographical_area":{"iso_code":"1011","description":"ERGA
        OMNES","children_geographical_areas":[{"iso_code":"SA","description":"Saudi
        Arabia"},{"iso_code":"BB","description":"Barbados"},{"iso_code":"SB","description":"Solomon
        Islands"},{"iso_code":"BD","description":"Bangladesh"},{"iso_code":"SC","description":"Seychelles
        and dependencies"},{"iso_code":"SD","description":"Sudan"},{"iso_code":"BF","description":"Burkina
        Faso"},{"iso_code":"SG","description":"Singapore"},{"iso_code":"SH","description":"St
        Helena and dependencies"},{"iso_code":"BH","de[...]
