---
http_interactions:
- request:
    method: get
    uri: http://tariff-api.dev.gov.uk//headings/0101.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"38ffed03ed8e67da266015b2a46ef776"'
    body:
      encoding: UTF-8
      string: '{"goods_nomenclature_item_id":"0101000000","description":"Live horses,
        asses, mules and hinnies","bti_url":"http://ec.europa.eu/taxation_customs/dds2/ebti/ebti_consultation.jsp?Lang=en&nomenc=0101000000&Expand=true","formatted_description":"Live
        horses, asses, mules and hinnies","chapter":{"goods_nomenclature_item_id":"0100000000","description":"LIVE
        ANIMALS","formatted_description":"Live animals"},"section":{"title":"Live
        animals; animal products","numeral":"I","position":1},"commodities":[{"description":"Horses","number_indents":1,"goods_nomenclature_item_id":"0101210000","leaf":false,"goods_nomenclature_sid":93797,"formatted_description":"Horses","description_plain":"Horses","parent_sid":null},{"description":"Pure-bred
        breeding animals","number_indents":2,"goods_nomenclature_item_id":"0101210000","leaf":true,"goods_nomenclature_sid":93796,"formatted_description":"Pure-bred
        breeding animals","description_plain":"Pure-bred breeding animals","parent_sid":93797},{"description":"Other","number_indents":2,"goods_nomenclature_item_id":"0101290000","leaf":false,"goods_nomenclature_sid":93798,"formatted_description":"Other","description_plain":"Other","parent_sid":93797},{"description":"For
        slaughter","number_indents":3,"goods_nomenclature_item_id":"0101291000","leaf":true,"goods_nomenclature_sid":93799,"formatted_description":"For
        slaughter","description_plain":"For slaughter","parent_sid":93798},{"description":"Other","number_indents":3,"goods_nomenclature_item_id":"0101299000","leaf":true,"goods_nomenclature_sid":93800,"formatted_description":"Other","description_plain":"Other","parent_sid":93798},{"description":"Asses","number_indents":1,"goods_nomenclature_item_id":"0101300000","leaf":true,"goods_nomenclature_sid":93801,"formatted_description":"Asses","description_plain":"Asses","parent_sid":null},{"description":"Other","number_indents":1,"goods_nomenclature_item_id":"0101900000","leaf":true,"goods_nomenclature_sid":72763,"formatted_description":"Other","description_plain":"Other","parent_sid":null}]}'
  recorded_at: Thu, 19 Dec 2013 08:54:54 GMT
recorded_with: VCR 2.5.0
