---
http_interactions:
- request:
    method: get
    uri: http://tariff-api.dev.gov.uk/headings/0501?as_of=2012-10-11
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"36c878a0530d5d6643e947a8de6d3414"'
    body:
      encoding: US-ASCII
      string: ! '{"declarable":true,"import_measures":[{"origin":"uk","ordernumber":null,"effective_start_date":"2011-01-04T00:00:00-08:00","effective_end_date":null,"measure_type_id":"VTS","measure_type_description":"VAT
        standard rate","measure_components":[{"duty_amount":20.0,"duty_expression_id":"01","duty_expression_description":"%
        (Amount)","duty_expression_abbreviation":"%","monetary_unit":null,"measurement_unit":null,"measurement_unit_qualifier":null}],"measure_conditions":[],"geographical_area":{"iso_code":null,"description":"ERGA
        OMNES","children_geographical_areas":[{"iso_code":"SA","description":"Saudi
        Arabia"},{"iso_code":"BB","description":"Barbados"},{"iso_code":"SB","description":"Solomon
        Islands"},{"iso_code":"BD","description":"Bangladesh"},{"iso_code":"SC","description":"Seychelles
        and dependencies"},{"iso_code":"SD","description":"Sudan"},{"iso_code":"BF","description":"Burkina
        Faso"},{"iso_code":"SG","description":"Singapore"},{"iso_code":"SH","description":"St
        Helena and dependencies"},{"iso_code":"BH","de[...]
