---
http_interactions:
- request:
    method: get
    uri: http://tariff-api.dev.gov.uk/headings/0101?as_of=1972-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"10d3a150d78ac4ab121ca18e8215296c"'
    body:
      encoding: UTF-8
      string: '{"goods_nomenclature_item_id":"0101000000","description":"Live horses,
        asses, mules and hinnies","bti_url":"http://ec.europa.eu/taxation_customs/dds2/ebti/ebti_consultation.jsp?Lang=en&nomenc=0101000000&Expand=true","formatted_description":"Live
        horses, asses, mules and hinnies","chapter":{"goods_nomenclature_item_id":"0100000000","description":"LIVE
        ANIMALS","formatted_description":"Live animals"},"section":{"title":"Live
        animals; animal products","numeral":"I","position":1},"commodities":[{"description":"Horses","number_indents":1,"goods_nomenclature_item_id":"0101110000","leaf":false,"goods_nomenclature_sid":27625,"formatted_description":"Horses","description_plain":"Horses","parent_sid":null},{"description":"Pure-bred
        breeding animals","number_indents":2,"goods_nomenclature_item_id":"0101110000","leaf":true,"goods_nomenclature_sid":27626,"formatted_description":"Pure-bred
        breeding animals","description_plain":"Pure-bred breeding animals","parent_sid":27625},{"description":"Other","number_indents":2,"goods_nomenclature_item_id":"0101190000","leaf":false,"goods_nomenclature_sid":27627,"formatted_description":"Other","description_plain":"Other","parent_sid":27625},[...]
- request:
    method: get
    uri: http://tariff-api.dev.gov.uk/headings/0101/changes?as_of=1972-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d751713988987e9331980363e24189ce"'
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Fri, 29 Nov 2013 08:06:25 GMT
recorded_with: VCR 2.5.0
