---
http_interactions:
- request:
    method: get
    uri: http://tariff-api.dev.gov.uk/headings/0110?as_of=2013-11-08
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"not found","url":"http://tariff-api.dev.gov.uk/headings/0110?as_of=2013-11-08"}'
  recorded_at: Fri, 08 Nov 2013 13:39:00 GMT
- request:
    method: post
    uri: http://tariff-api.dev.gov.uk/search
    body:
      encoding: UTF-8
      string: t=0110&as_of=2013-11-08
    headers: {}
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ffa09cf47ce2ca729333e7c30665780d"'
    body:
      encoding: UTF-8
      string: '{"type":"fuzzy_match","goods_nomenclature_match":{"sections":[],"chapters":[],"headings":[],"commodities":[]},"reference_match":{"sections":[],"chapters":[],"headings":[],"commodities":[]}}'
  recorded_at: Fri, 08 Nov 2013 13:39:01 GMT
recorded_with: VCR 2.5.0
