---
http_interactions:
- request:
    method: post
    uri: http://tariff-api.dev.gov.uk/search
    body:
      encoding: US-ASCII
      string: q=01&as_of=
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"92117a675eb2b6c8c0a9f1d9bb7b0c7d"'
    body:
      encoding: US-ASCII
      string: ! '{"type":"exact_match","entry":{"endpoint":"chapters","id":"01"}}'
  recorded_at: Thu, 11 Oct 2012 15:01:35 GMT
recorded_with: VCR 2.2.5
