--- 
http_interactions: 
- request: 
    method: post
    uri: http://tariff-api.dev.gov.uk/search
    body: 
      encoding: US-ASCII
      string: t=01&as_of=
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      Etag: 
      - "\"92117a675eb2b6c8c0a9f1d9bb7b0c7d\""
    body: 
      encoding: US-ASCII
      string: "{\"type\":\"exact_match\",\"entry\":{\"endpoint\":\"chapters\",\"id\":\"01\"}}"
  recorded_at: Mon, 22 Oct 2012 10:37:09 GMT
recorded_with: VCR 2.2.5
