--- 
http_interactions: 
- request: 
    method: post
    uri: http://tariff-api.dev.gov.uk/search
    body: 
      encoding: US-ASCII
      string: t=horses&as_of=
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      Etag: 
      - "\"07c404aa3fcc1eb24ab7e101cdc0ebe8\""
    body: 
      encoding: US-ASCII
      string: "{\"type\":\"fuzzy_match\",\"goods_nomenclature_match\":{\"sections\":[],\"chapters\":[],\"headings\":[{\"id\":\"27624\",\"goods_nomenclature_item_id\":\"0101000000\",\"producline_suffix\":\"80\",\"validity_start_date\":\"1972-01-01T00:00:00+00:00\",\"validity_end_date\":null,\"description\":\"Live horses, asses, mules and hinnies\",\"number_indents\":0,\"section\":{\"numeral\":\"I\",\"title\":\"Live animals; animal products (chapters 1 to 5)\",\"position\":1},\"chapter\":{\"goods_nomenclature_sid\":27623,\"goods_nomenclature_item_id\":\"0100000000\",\"producline_suffix\":\"80\",\"validity_start_date\":\"1971-12-31T00:00:00+00:00\",\"validity_end_date\":null,\"description\":\"live animals\"},\"_score\":2.9675868,\"_type\":\"heading\",\"_index\":\"headings\",\"_version\":null,\"sort\":null,\"highlight\":null,\"_explanation\":null},{\"id\":\"28039\",\"goods_nomenclature_item_id\":\"0205000000\",\"producline_suffix\":\"80\",\"validity_start_date\":\"1972-01-01T00:00:00+00:00\",\"validity_end_date\":null,\"description\":\"Meat of horses, asses, mules or hinnies, fresh, chilled or frozen\",\"number_indents\":0,\"section\":{\"numeral\":\"I\",\"title\":\"Live animals; animal products (chapters 1 to 5)\",\"position\":1},\"chapter\":{\"goods_nomenclature_sid\":27809,\"goods_nomenclature_item_id\":\"0200000000\",\"producline[...]
