---
http_interactions:
- request:
    method: post
    uri: http://tariff-api.dev.gov.uk/search
    body:
      encoding: US-ASCII
      string: t=synonym%201&as_of=2014-04-18
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"74966852c7e44fae64e63c1ae971fb86"'
    body:
      encoding: US-ASCII
      string: ! '{"type":"fuzzy_match","goods_nomenclature_match":{"chapters":[],"commodities":[{"_index":"tariff-commodities","_type":"commodity","_id":"88304","_score":1.0,"_source":{"id":88304,"goods_nomenclature_item_id":"0602909110","producline_suffix":"80","validity_start_date":"2007-03-01T00:00:00+00:00","validity_end_date":null,"description":"Potted
        plants not exceeding 1&nbsp;m in height","number_indents":6,"heading":{"goods_nomenclature_sid":30069,"goods_nomenclature_item_id":"0602000000","producline_suffix":"80","validity_start_date":"1972-01-01T00:00:00+00:00","validity_end_date":null,"description":"Other
        live plants (including their roots), cuttings and slips; mushroom spawn","number_indents":0},"chapter":{"goods_nomenclature_sid":30055,"goods_nomenclature_item_id":"0600000000","producline_suffix":"80","validity_start_date":"1971-12-31T00:00:00+00:00","validity_end_date":null,"description":"Live
        trees and other plants; bulbs, roots and the like; cut flowers and ornamental
        foliage"},"section":{"numeral":"II","title":"Vegetable products","position":2}}},{"_index":"tariff-commodities","_type":"commodity","_id":"88307","_score":1.0,"_source":{"id":88307,"goods_nomenclature_item_id":"0602909910","producline_suffix":"80","validity_start_date":"2007-03-01T00:00:00+00:00","validity_end_date":null,"description":"Potted
        plants not exceeding 1&nbsp;m in height","number_indents":6,"heading":{"goods_nomenclature_sid":30069,"goods_nomenclature_item_id":"0602000000","producline_suffix":"80","validity_start_date":"1972-01-01T00:00:00+00:00","val[...]
- request:
    method: get
    uri: http://tariff-api.dev.gov.uk/geographical_areas/countries
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: !binary |-
        T0s=
    headers:
      !binary "U2VydmVy":
      - !binary |-
        bmdpbng=
      !binary "RGF0ZQ==":
      - !binary |-
        RnJpLCAxOCBBcHIgMjAxNCAxNDozMzoxMyBHTVQ=
      !binary "Q29udGVudC1UeXBl":
      - !binary |-
        YXBwbGljYXRpb24vanNvbjsgY2hhcnNldD11dGYtOA==
      !binary "VHJhbnNmZXItRW5jb2Rpbmc=":
      - !binary |-
        Y2h1bmtlZA==
      !binary "Q29ubmVjdGlvbg==":
      - !binary |-
        Y2xvc2U=
      !binary "U3RhdHVz":
      - !binary |-
        MjAwIE9L
      !binary "WC1VYS1Db21wYXRpYmxl":
      - !binary |-
        SUU9RWRnZQ==
      !binary "RXRhZw==":
      - !binary |-
        Ijk4N2QzYzgyNjZiMDdlNzdhZmYwMDkwMDZmZmNmZmU4Ig==
      !binary "Q2FjaGUtQ29udHJvbA==":
      - !binary |-
        bWF4LWFnZT0wLCBwcml2YXRlLCBtdXN0LXJldmFsaWRhdGU=
      !binary "WC1SZXF1ZXN0LUlk":
      - !binary |-
        YWUyOTllYzViODExYmU4NGMzMDlhNTZlMTE0NDY4MjI=
      !binary "WC1SdW50aW1l":
      - !binary |-
        MC42MjMxMjA=
      !binary "WC1GcmFtZS1PcHRpb25z":
      - !binary |-
        U0FNRU9SSUdJTg==
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        W3siaWQiOiJTQSIsImRlc2NyaXB0aW9uIjoiU2F1ZGkgQXJhYmlhIn0seyJp
        ZCI6IkJCIiwiZGVzY3JpcHRpb24iOiJCYXJiYWRvcyJ9LHsiaWQiOiJTQiIs
        ImRlc2NyaXB0aW9uIjoiU29sb21vbiBJc2xhbmRzIn0seyJpZCI6IkJEIiwi
        ZGVzY3JpcHRpb24iOiJCYW5nbGFkZXNoIn0seyJpZCI6IlNDIiwiZGVzY3Jp
        cHRpb24iOiJTZXljaGVsbGVzIGFuZCBkZXBlbmRlbmNpZXMifSx7ImlkIjoi
        U0QiLCJkZXNjcmlwdGlvbiI6IlN1ZGFuIn0seyJp[...]
