---
http_interactions:
- request:
    method: post
    uri: http://tariff-api.dev.gov.uk/search
    body:
      encoding: UTF-8
      string: t=horses&as_of=2014-01-20
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - "\"9292e695306b1abaf416dac9aa924ce3\""
    body:
      encoding: UTF-8
      string: "{\"type\":\"fuzzy_match\",\"goods_nomenclature_match\":{\"chapters\":[],\"commodities\":[{\"_index\":\"tariff-commodities\",\"_type\":\"commodity\",\"_id\":\"94153\",\"_score\":1.0,\"_source\":{\"id\":94153,\"goods_nomenclature_item_id\":\"0303510000\",\"producline_suffix\":\"10\",\"validity_start_date\":\"2012-01-01T00:00:00+00:00\",\"validity_end_date\":null,\"description\":\"Herring
        (Clupea harengus, Clupea pallasii), sardines (Sardina pilchardus, Sardinops&nbsp;spp.),
        sardinella (Sardinella&nbsp;spp.), brisling or sprats (Sprattus sprattus),
        mackerel (Scomber scombrus, Scomber australasicus, Scomber japonicus), jack
        and horse mackerel (Trachurus&nbsp;spp.), cobia (Rachycentron canadum) and
        swordfish (Xiphias gladius), excluding livers and roes\",\"number_indents\":1,\"heading\":{\"goods_nomenclature_sid\":28590,\"goods_nomenclature_item_id\":\"0303000000\",\"producline_suffix\":\"80\",\"validity_start_date\":\"1972-01-01T00:00:00+00:00\",\"validity_end_date\":null,\"description\":\"Fish,
        frozen, excluding fish fillets and other fish meat of heading&nbsp;0304\",\"number_indents\":0},\"chapter\":{\"goods_nomenclature_sid\":28373,\"goods_nomenclature_item_id\":\"0300000000\",\"producline_suffix\":\"80\",\"validity_start_date\":\"1971-12-31T00:00:00+00:00\",\"validity_end_date\":null,\"description\":\"fish
        and crustaceans, molluscs and other aquatic invertebrates\"},\"section\":{\"numeral\":\"I\",\"title\":\"Live
        animals; animal products\",\"position\":1}}},{\"_index\":\"tariff-commodities\",\"_type\":\"commodity\",\"_id\":\"94180\",\"_score\":1.0,\"_source\":{\"id\":94180,\"goods_nomenclature_item_id\":\"0303550000\",\"producline_suffix\":\"80\",\"validity_start_date\":\"2012-01-01T00:00:00+00:00\",\"validity_end_date\":null,\"description\":\"Jack
        and horse mackerel (Trachurus spp.)\",\"number_indents\":2,\"heading\":{\"goods_nomenclature_sid\":28590,\"goods_nomenclature_item_id\":\"0303000000\",\"producline_suffix\":\"80\",\"validity[...]
