---
http_interactions:
- request:
    method: post
    uri: http://tariff-api.dev.gov.uk/search
    body:
      encoding: US-ASCII
      string: q=horses&as_of=
    headers:
      authorization:
      - Token token="86c337686edc492184c5e9869c27a0b1"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"cdb3f2f165ba28d9a465f95f302fc5d0"'
    body:
      encoding: US-ASCII
      string: ! '{"type":"fuzzy_match","entries":{"sections":[],"chapters":[],"headings":[{"id":"27624","goods_nomenclature_item_id":"0101000000","producline_suffix":"80","validity_start_date":"1972-01-01T00:00:00-08:00","validity_end_date":null,"description":"Live
        horses, asses, mules and hinnies","number_indents":0,"section":{"numeral":"I","title":"Live
        animals; animal products (chapter 1 - 5)","position":1},"chapter":{"goods_nomenclature_sid":27623,"goods_nomenclature_item_id":"0100000000","producline_suffix":"80","validity_start_date":"1971-12-31T00:00:00-08:00","validity_end_date":null,"description":"live
        animals"},"_score":2.5602632,"_type":"heading","_index":"headings","_version":null,"sort":null,"highlight":null,"_explanation":null},{"id":"28039","goods_nomenclature_item_id":"0205000000","producline_suffix":"80","validity_start_date":"1972-01-01T00:00:00-08:00","validity_end_date":null,"description":"Meat
        of horses, asses, mules or hinnies, fresh, chilled or frozen","number_indents":0,"section":{"numeral":"I","title":"Live
        animals; animal products (chapter 1 - 5)","position":1},"chapter":{"goods_nomenclature_sid":27809,"goods_nomenclature_item_id":"0200000000","producline_suffix":"80","validity_start_d[...]
