---
http_interactions:
- request:
    method: get
    uri: http://tariff-api.dev.gov.uk/updates
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"06447f3f8e418cb7ec9ea45d71a2884c"'
    body:
      encoding: US-ASCII
      string: ! '[{"update_type":"TariffSynchronizer::ChiefUpdate","state":"A","created_at":"2013-02-12T12:35:44+00:00","updated_at":"2013-02-12T12:35:57+00:00","filename":"2013-02-12_KBT009(13043).txt"},{"update_type":"TariffSynchronizer::TaricUpdate","state":"A","created_at":"2013-02-12T12:35:31+00:00","updated_at":"2013-02-12T12:35:56+00:00","filename":"2013-02-11_TGB13028.xml"}]'
  recorded_at: Wed, 13 Feb 2013 13:15:54 GMT
- request:
    method: get
    uri: http://tariff-api.dev.gov.uk/sections
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"fd685a5983410a0b05a3c2197e54ecae"'
    body:
      encoding: US-ASCII
      string: ! '[{"position":1,"title":"Live animals; animal products (chapters 1
        to 5)","numeral":"I"},{"position":2,"title":"Vegetable products (chapters
        6 to 14)","numeral":"II"},{"position":3,"title":"Animal or vegetable fats
        and oils and their cleavage products; prepared edible fats; animal or vegetable
        waxes (chapter 15)","numeral":"III"},{"position":4,"title":"Prepared foodstuffs;
        beverages, spirits and vinegar; tobacco and manufactured tobacco substitutes
        (chapters 16 to 24)","numeral":"IV"},{"position":5,"title":"Mineral products
        (chapt[...]
