---
http_interactions:
- request:
    method: get
    uri: http://tariff-api.dev.gov.uk/sections/1?as_of=2012-08-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Token token="86c337686edc492184c5e9869c27a0b1"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"942b817a5afb082469db533687e64727"'
    body:
      encoding: US-ASCII
      string: ! '{"position":1,"title":"Live animals; animal products (chapter 1 -
        5)","numeral":"I","chapters":[{"description":"LIVE ANIMALS","goods_nomenclature_item_id":"0100000000"},{"description":"MEAT
        AND EDIBLE MEAT OFFAL","goods_nomenclature_item_id":"0200000000"},{"description":"FISH
        AND CRUSTACEANS, MOLLUSCS AND OTHER AQUATIC INVERTEBRATES","goods_nomenclature_item_id":"0300000000"},{"description":"DAIRY
        PRODUCE; BIRDS''EGGS; NATURAL HONEY; EDIBLE PRODUCTS OF ANIMAL ORIGIN, NOT
        ELSEWHERE SPECIFIED OR INCLUDED","goods_nomenclature_item_id":"0400000000"},{"description":"PRODUCTS
        OF ANIMAL ORIGIN, NOT ELSEWHERE SPECIFIED OR INCLUDED","goods_nomenclature_item_id":"0500000000"}]}'
  recorded_at: Mon, 06 Aug 2012 08:52:45 GMT
recorded_with: VCR 2.2.4
