---
http_interactions:
- request:
    method: get
    uri: http://tariff-api.dev.gov.uk/updates/latest
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Meta-Request-Version:
      - 0.2.9
      Etag:
      - ! '"ca7bcc06fa785f3ae724a4fec770e4eb"'
    body:
      encoding: US-ASCII
      string: ! '[{"filename":"2014-02-20_KBT009(14051).txt","update_type":"TariffSynchronizer::ChiefUpdate","state":"A","issue_date":"2014-02-20","updated_at":"2014-02-20T14:21:06+00:00","created_at":"2014-02-20T14:02:03+00:00"},{"filename":"2014-02-19_TGB14034.xml","update_type":"TariffSynchronizer::TaricUpdate","state":"A","issue_date":"2014-02-19","updated_at":"2014-02-20T14:20:56+00:00","created_at":"2014-02-20T14:01:20+00:00"}]'
  recorded_at: Tue, 15 Apr 2014 21:48:25 GMT
- request:
    method: get
    uri: http://tariff-api.dev.gov.uk/sections
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Meta-Request-Version:
      - 0.2.9
      Etag:
      - ! '"f40a22e604ef275d7c4fed52f6eed99c"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":1,"position":1,"title":"Live animals; animal products","numeral":"I","chapter_from":"01","chapter_to":"05","section_note_id":1},{"id":2,"position":2,"title":"Vegetable
        products","numeral":"II","chapter_from":"06","chapter_to":"14","section_note_id":6},{"id":3,"position":3,"title":"Animal
        or vegetable fats and oils and their cleavage products; prepared edible fats;
        animal or vegetable waxes","numeral":"III","chapter_from":"15","chapter_to":"15","section_note_id":null},{"id":4,"position":4,"title":"Prepared
        foodstuffs; beverages, spirits and vinegar; tobacco and manufactured tobacco
     [...]
