---
http_interactions:
- request:
    method: get
    uri: http://tariff-api.dev.gov.uk/sections/1?as_of=2012-10-11
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"422fcfe6bd3fcea23583e969497128ee"'
    body:
      encoding: US-ASCII
      string: ! '{"position":1,"title":"Live animals; animal products (chapters 1
        to 5)","numeral":"I","section_note":" 1. Any reference in this section to
        a particular genus or species of an animal, except where the context otherwise
        requires, includes a reference to the young of that genus or species. 2. Except
        where the context otherwise requires, throughout the nomenclature any reference
        to \"dried\" products also covers products which have been dehydrated, evaporated
        or freeze-dried.","chapters":[{"description":"LIVE ANIMALS","goods_nomenclature_item_id":"0100000000"},{"description":"MEAT
        AND EDIBLE MEAT OFFAL","goods_nomenclature_item_id":"0200000000"},{"description":"FISH
        AND CRUSTACEANS, MOLLUSCS AND OTHER AQUATIC INVERTEBRATES","goods_nomenclature_item_id":"0300000000"},{"description":"DAIRY
        PRODUCE; BIRDS'' EGGS; NATURAL HONEY; EDIBLE PRODUCTS OF ANIMAL ORIGIN, NOT
        ELSEWHERE SPECIFIED OR INCLUDED","goods_nomenclature_item_id":"0400000000"},{"description":"PRODUCTS
        OF ANIMAL ORIGIN, NOT ELSEWHERE SPECIFIED OR INCLUDED","goods_nomenclature_item_id":"0500000000"}]}'
  recorded_at: Thu, 11 Oct 2012 15:01:37 GMT
recorded_with: VCR 2.2.5
