---
http_interactions:
- request:
    method: get
    uri: http://tariff-api.dev.gov.uk/updates
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"06447f3f8e418cb7ec9ea45d71a2884c"'
    body:
      encoding: US-ASCII
      string: ! '[{"update_type":"TariffSynchronizer::ChiefUpdate","state":"A","created_at":"2013-02-12T12:35:44+00:00","updated_at":"2013-02-12T12:35:57+00:00","filename":"2013-02-12_KBT009(13043).txt"},{"update_type":"TariffSynchronizer::TaricUpdate","state":"A","created_at":"2013-02-12T12:35:31+00:00","updated_at":"2013-02-12T12:35:56+00:00","filename":"2013-02-11_TGB13028.xml"}]'
  recorded_at: Wed, 13 Feb 2013 13:15:54 GMT
