<dt>
  <span class='numeral'>
    <%= section.numeral %>
  </span>
  <%= section.chapters_title %>
</dt>
<dd class='title'><%= link_to section, section_path(section), title: "Section #{section.position}" %></dd>
