<dt>
  <span class='numeral'>
    Section <%= section.numeral %>
  </span>
  <%= section.chapters_title %>
</dt>
<dd class='title'><%= link_to section, section_path(section), class: "js-pjax", title: "Section #{section.position}" %></dd>
