<dt>
  <span class='numeral'>
    <%= section.numeral %>
  </span>
  <%= section.chapters_title %>
</dt>

<dd class='title'>
  <%= link_to section, section_path(section, request.query_parameters.symbolize_keys), title: "Section #{section.position}" %>
</dd>
