<% content_for :head do %>
  <link rel='alternate' type='application/json' href='<%= sections_url(format: :json) %>' title='Section list in JSON format' />
<% end %>

<h2 class="heading-medium">All sections</h2>

<section class="sections">
  <table>
    <thead>
      <tr>
        <th scope="col">Section</th>
        <th scope="col">Chapters</th>
        <th scope="col">Section title</th>
      </tr>
      <%= render @sections %>
    </thead>
  </table>
</section>


<!--
Tariff Updates:

<% @tariff_updates.each do |tariff_update| %>
<%= tariff_update %>
<% end %>
-->
