<% content_for :head do %>
  <link rel='alternate' type='application/json' href='<%= sections_url(format: :json) %>' title='Section list in JSON format' />
<% end %>

<article class="tariff sections">
  <div class="inner">
    <dl class="sections">
      <dt class="heading">
        <span class='numeral'>
          Section
        </span>
        Chapters
      </dt>
      <dd class='title heading'>Title</dd>
      <%= render @sections %>
    </dl>
  </div>
</article>

<!--
Tariff Updates:

<% @tariff_updates.each do |tariff_update| %>
<%= tariff_update %>
<% end %>
-->
