<article class="tariff sections">
  <div class="inner">    
    <p>Introduction to the Trade Tariff Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a consequat nisi. Quisque eleifend pharetra purus eget rutrum.</p>
    <dl class="sections">
      <%= render @sections %>
    </dl>
  </div>
</article>
