<div class='browse-sections core-content group'>
  <table>
    <thead>
      <tr>
        <td colspan="2">
          <strong>Sections</strong>
        </td>
      </tr>
      <tr>
        <td>
          <strong>No</strong>
        </td>
        <td>
          <strong>Sections</strong>
        </td>
      </tr>
    </thead>
    <tbody>
      <%= render @sections %>
    </tbody>
  </table>
</div>
