<article class="tariff sections">
  <div class="inner">    
    <p>Use the search box to look up goods or commodity codes or browse the Trade Tariff through the sections below.</p>
    <dl class="sections">
      <%= render @sections %>
    </dl>
  </div>
</article>
