<article class="tariff sections">
  <div class="inner">
    <table>
      <thead>
        <tr>
          <td>
            <strong>Section</strong>
          </td>
          <td>
            <strong>Description</strong>
          </td>
        </tr>
      </thead>
      <tbody>
        <%= render @sections %>
      </tbody>
    </table>
  </div>
</article>
