<% content_for :title, "#{@section} | Trade Tariff | GOV.UK" %>

<article class="tariff chapters">
  <div class="inner">
    <dl>
      <dt><%= @section.numeral %></dt>
      <dd class="section-heading">
        <h1><%= link_to @section, sections_path %></h1>
        <!--<p class="chapters-intro">Microcopy about what chapters are goes here.</p>-->
        <dl class="tariff-fragments chapters">
        <%= render @chapters %>
        </dl>
      </dd>
    </dl>
  </div>
</article>
