<% content_for :title, "#{@section} - Trade Tariff - GOV.UK" %>
<% content_for :head do %>
  <link rel='alternate' type='application/json' href='<%= section_url(@section, format: :json) %>' title='Section information page in JSON format' />
<% end %>

<%= render 'shared/tariff_breadcrumbs', section: @section %>

<article class="tariff chapters">
  <div class="inner">
    <dl class="tariff-fragments chapters">
      <%= render @chapters %>
    </dl>
  </div>

  <%= render partial: 'note', locals: { section_note: @section.section_note } %>
</article>
