<% content_for :title, "#{@section} | Trade Tariff | GOV.UK" %>

<article class="tariff chapters">
  <div class="inner">
    <h1><%= @section %></h1>
    <ol id="chapters">
      <%= render @chapters %>
    </ol>
  </div>
</article>
