<% content_for :title, "#{@section} | Trade Tariff | GOV.UK" %>

<article class="tariff chapters">
  <div class="inner">
    <dl>
      <dt class="section-number">Section <%= @section.numeral %></dt>
      <dd class="section-title">
        <h1><%= link_to @section, sections_path %></h1>
        <!--<p class="chapters-intro">Microcopy about what chapters are goes here.</p>-->
        <dl class="tariff-fragments chapters">
        <%= render @chapters %>
        </dl>
      </dd>
    </dl>
  </div>
  <% if @section.section_note.present? %>
    <article class='section-notes'>
      <h2>Section notes</h2>

      <%= simple_format @section.section_note %>
    </article>
  <% end %>
</article>

