<% content_for :title, "#{@section} - Trade Tariff - GOV.UK" %>
<% content_for :head do %>
  <link rel='alternate' type='application/json' href='<%= section_url(@section, format: :json) %>' title='Section information page in JSON format' />
<% end %>

<h2 class="heading-medium">Choose the chapter that best matches your goods</h2>

<%= render 'shared/tariff_breadcrumbs', section: @section %>

<section class="chapters">
  <table class="section-browser">
    <tbody>
      <%= render @chapters %>
    </tbody>
  </table>
</section>

<%= render 'shared/notes', section_note: @section.section_note %>
