<div>
  <header class="page-header">
    <div>
      <h1 class="heading-xlarge">Cookies</h1>
    </div>
  </header>
  <div class="article-container group">
    <div class="content-block">
      <div class="inner">
        <div class="summary">
          <p>GOV.UK puts small files (known as &lsquo;cookies&rsquo;) onto your computer to collect information about how you browse the site.</p>
        </div>

        <p>Cookies are used to:</p>

        <ul class="list list-bullet">
          <li>measure how you use the website so it can be updated and improved based on your needs</li>
          <li>remember the notifications you&rsquo;ve seen so that we don&rsquo;t show them to you again</li>
        </ul>

        <div class="panel panel-border-wide">
          <p>GOV.UK cookies aren&rsquo;t used to identify you personally.</p>
        </div>

        <p>You&rsquo;ll normally see a message on the site before we store a cookie on your computer.</p>

        <p>Find out more about <a rel="external" href="http://www.aboutcookies.org/">how to manage cookies.</a></p>

        <h2 class="heading-medium">How cookies are used on the Trade Tariff</h2>

        <div class="panel panel-border-wide">
          <p>This cookies policy is an additional policy that applies to the Trade Tariff service. The main <a href="https://www.gov.uk/help/cookies">GOV.UK cookies policy</a> also applies.</p>
        </div>

        <h3 class="heading-small">Remembering how collapsible lists are shown</h3>
        <p>Finding a commodity in the Trade Tariff may involve you browsing a list of items that can be expanded or collapsed. If you choose to expand or collapse all items, we&rsquo;ll save a cookie that lets us know your preference so we can display items in the same way the next time you visit the page.</p>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Purpose</th>
              <th>Expires</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>commodityTree</td>
              <td>Remembers if you’ve chosen the &lsquo;Open all headings&rsquo; or &lsquo;Close all headings&rsquo; option when viewing a hierarchical list of commodities</td>
              <td>28 days</td>
            </tr>
          </tbody>
        </table>

        <h3 class="heading-small">Measuring website usage (FullStory)</h3>
        <p>We use FullStory software to collect information about how you use the Trade Tariff.
        We do this to help make sure the site is meeting the needs of its users and to help us make improvements.
        FullStory stores information about:</p>
        <ul class="list list-bullet">
          <li>the pages you visit on the Trade Tariff</li>
          <li>how long you spend on each Trade Tariff page </li>
          <li>how you got to the Trade Tariff </li>
          <li>what you click on while you’re visiting the Trade Tariff</li>
        </ul>
        <p>We don’t collect or store your personal information (eg your name or address) so this information can’t be used to identify who you are.</p>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Purpose</th>
              <th>Expires</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>fs_uid</td>
              <td>This helps us track what pages you've visited on the Trade Tariff</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <div id="last-updated-at" class="related-module font-xsmall">
      <p class="modified-date">Last updated: 6 September 2016</p>
    </div>
  </div>
</div>
