<div class="grid-row">
  <div class="column-full">
    <h1 class="heading-xlarge">Trade Tariff: look up commodity codes, duty and VAT rates</h1>
  </div>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    <section class="intro">
      <p>Commodity codes classify goods for import and export so you can:</p>
      <p>You can also use this tool to find:</p>
      <ul class="list list-bullet">
        <li>fill in declarations and other paperwork</li>
        <li>check if there’s duty or VAT to pay</li>
        <li>find out about duty reliefs</li>
      </ul>
      <a class="button button-start" href="<%= sections_path %>" role="button">Start now</a>
    </section>
    <section class="more content-block">
      <h2 id="if-youre-not-sure-how-to-classify-your-goods">If you’re not sure how to classify your goods</h2>
      <p>Read the <a href="https://www.gov.uk/government/collections/classification-of-goods">product classification guides</a> to help you find the correct commodity code.</p>
      <h3 id="getting-advice">Getting advice</h3>
      <p>You can get advice on how to classify your goods by emailing <a href="mailto:classification.enquiries@hmrc.gsi.gov.uk">classification.enquiries@hmrc.gsi.gov.uk</a>.</p>
      <p>Include a full description of your product - what it’s made from, its use and function, and how it’s presented or packaged.</p>
      <p>If you need advice about more than one product, send a separate email.</p>
      <h3 id="apply-for-a-classification-ruling">Apply for a classification ruling</h3>
      <p>You can apply for a Binding Tariff Information (BTI) ruling to give certainty about the correct classification and how much duty you’ll need to pay when importing your goods into the EU.</p>
      <p>BTIs are:</p>
      <ul>
        <li>legally binding throughout the EU for 3 years</li>
        <li>free, but you may have to pay costs (for example, for laboratory analysis or expert advice)</li>
      </ul>
      <p>You apply for a ruling using the eBTI online service.</p>
      <ol class="steps">
        <li>
          <p>You’ll need an EORI number. How you get one depends on whether you’re <a rel="external" href="https://online.hmrc.gov.uk/shortforms/form/EORIVAT">registered for VAT</a>, <a rel="external" href="https://online.hmrc.gov.uk/shortforms/form/EORINonVATExport">not VAT-registered and you’re exporting</a> or <a rel="external" href="https://online.hmrc.gov.uk/shortforms/form/EORINonVATImport">not VAT-registered and you’re importing</a>.</p>
        </li>
        <li>
          <p>Sign up to use eBTI on the <a rel="external" href="http://www.gateway.gov.uk/">Government Gateway website.</a></p>
        </li>
        <li>
          <p><a rel="external" href="https://secure.hmce.gov.uk/ecom/login/index.html">Sign in to eBTI.</a> and read the <a href="https://www.gov.uk/guidance/binding-tariff-information-rulings">guidance notes on how to make an eBTI application.</a></p>
        </li>
      </ol>
    </section>
  </div>
</div>
