<article role="article" class="group">
  <div class="inner">
    <section class="intro">
      <div class="get-started-intro">
        <p>
          The UK Trade Tariff helps you find commodity codes to classify goods for export and import. Commodity codes are used to find import duties, taxes, tax rebates, reliefs, licenses and special conditions such as prohibitions that may apply to particular goods.
        </p>
      </div>
      <p class="visuallyhidden">
        <a href="#what-you-need-to-know">What you need to know</a>
      </p>

      <p id="get-started" class="get-started group">
        <a href="<%= sections_path %>" class="button">
          <span class="call-to-action">Get Started</span>
        </a>
      </p>           
    </section>
  </div>
</article>