<div class="grid-row">
  <div class="column-full">
    <h1 class="heading-xlarge">Find import and export commodity codes, dutes, licences and VAT (Trade Tariff)</h1>
  </div>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    <p>Use the Trade Tariff to search for commodity codes.</p>
    <p>Commodity codes classify goods for import and export so that you pay the right tax and duty, and follow regulations.</p>
    <p>You can also use this tool to find:</p>
    <ul class="list list-bullet">
      <li>duty and VAT rates</li>
      <li>information about tax reliefs</li>
      <li>import/export licences or any special regulations for your goods (called 'measures')</li>
    </ul>

    <a class="button button-start" href="<%= sections_path %>" role="button">Start now</a>

    <h2 class="heading-large">Wrong codes and penalties</h2>
    <div class="notice">
      <i class="icon icon-important">
        <span class="visuallyhidden">Warning</span>
      </i>
      <strong class="bold-small">
        It's your responsibility to get your commodity code and licences right, even if you use an agent.
      </strong>
    </div>
    <p>HM Revenue and Customs (HMRC) can fine you, seize your goods and delay their release from customs if you import or export goods with the wrong codes.</p>

    <h2 class="heading-large">Terms and conditions</h2>
    <p>Trade Tariff users should be aware that in any case where information in the UK Trade Tariff is at variance with that contained in the appropriate Community legislation published in the Official Journal of the European Communities, the latter will represent the correct legal position.</p>
    <p>Whilst every effort is made to ensure the accuracy of the Tariff on GOV.UK, the onus remains with the user to consult the Official Journal as necessary and to ensure that the correct duties are paid at importation.</p>
    <p>In instances where the Customs Authorities are at error, the importer or exporter may still be liable for any additional duty that may be demanded as a result of that error being discovered.</p>
    <p>You can find the Official Journal on the <%= link_to "European Union Europa website", "http://eur-lex.europa.eu/en/index.htm", rel: "external", target: "_blank", title: "Opens in a new window" %> and on the <a href="http://ec.europa.eu/taxation_customs/dds2/taric/taric_consultation.jsp?Lang=en&amp;Screen=0&amp;Expand=true" target="_blank" rel="external">Integrated Tariff of the European Community (TARIC) database</a></p>
  </div>
</div>