<article role="article" class="group">
  <div class="inner">
    <section class="intro">
      <div class="get-started-intro">
        <p>
          Search for import and export commodity codes and for tax, duty and licenses that apply to your goods.
        </p>
      </div>
      <p class="visuallyhidden">
        <a href="#what-you-need-to-know">What you need to know</a>
      </p>

      <p id="get-started" class="get-started group">
        <a href="<%= sections_path %>" class="button">
          <span class="call-to-action">Get Started</span>
        </a>
      </p>           
    </section>
    <section class="more">
      <h1 id="what-you-need-to-know">What you need to know</h1>

      <ul class="helpers group">
          <li>
            this tool is under active development, the <a href="http://tariff.businesslink.gov.uk/tariff-bl/mainMenu" rel="external" target="_blank">official Trade Tariff</a> remains on Businesslink
          </li>
          <li>the information in this tool is for the 5th of June 2012</li>
          <li>if you can't find your goods read the <a href="https://www.gov.uk/specialist/classification-of-goods">guidance on classifying goods</a></li>
      </ul>
   </section>
  </div>
</article>