<article role="article" class="group">
  <div class="inner">
    <section class="intro">
      <div class="get-started-intro">
        <p>
          Search for commodity codes to classify goods for import and export and find details on tax, duty and licences that apply to your goods. 
        </p>
      </div>
      <p class="visuallyhidden">
        <a href="#what-you-need-to-know">What you need to know</a>
      </p>

      <p id="get-started" class="get-started group">
        <a href="<%= sections_path %>" class="button">
          <span class="call-to-action">Get Started</span>
        </a>
      </p>           
    </section>
    <section class="more">
      <h1 id="what-you-need-to-know">What you need to know</h1>

      <ul class="helpers group">
          <li>
            This is a test tool, the <a href="http://tariff.businesslink.gov.uk/tariff-bl/mainMenu" rel="external" target="_blank">official Trade Tariff</a> remains on Businesslink
          </li>
          <li>the information in this tool is for the 5th of June 2012</li>
          <li>you can search by goods to classify your imports or exports or by <a href="/finding-commodity-codes" title="finding commodity codes">commodity codes</a></li>
          <li>to give the commodity code each section of the Trade Tariff classifies good as follows: chapter, heading, subheading, CN code (chapter description), TARIC (online customs database) - each of these has a number</li>

      </ul>
        <h2>Example:</h2>
        <p>
          
          Classifying bicycles for export in section "Vehicles, aircraft, vessels and associated transport equipment":

          <br />

          Chapter 87: vehicles other than railway or tramway rolling stock <br />
          Heading 12: bicycles and other cycles, not motorised <br />
          Subheading 0030: bicycles <br />
          Commodity code for exports: 87120030 <br />
          Commodity code for imports: 8712003000 
        </p>

    </section>
  </div>
</article>