<article role="article" class="group">
  <div class="inner">
    <section class="intro">
      <div class="get-started-intro">
        <p>
          Search for import and export commodity codes and for tax, duty and licenses that apply to your goods.
        </p>
      </div>
      <p class="visuallyhidden">
        <a href="#what-you-need-to-know">What you need to know</a>
      </p>

      <p id="get-started" class="get-started group">
        <a href="<%= sections_path %>" class="button">
          <span class="call-to-action">Use the tariff</span>
        </a>
      </p>           
    </section>
    <section class="more">
      <h2>Additional information</h2>
      <ul>
        <li><%= link_to "Finding commodity codes for import and export duty", "https://www.gov.uk/finding-commodity-codes", rel: "external", target: "_blank", title: "Opens in a new window"%></li>
        <li><%= link_to "Classify imports and exports using the UK Integrated Tariff", "https://www.gov.uk/specialist/classification-of-goods", rel: "external", target: "_blank", title: "Opens in a new window"%></li>
      </ul>

      <h2>Terms and conditions</h2>
      <p>Trade Tariff users should be aware that in any case where information in the UK Trade Tariff is at variance with that contained in the appropriate Community legislation published in the Official Journal of the European Communities, the latter will represent the correct legal position. Whilst every effort is made to ensure the accuracy of the Tariff on GOV.UK, the onus remains with the user to consult the Official Journal as necessary and to ensure that the correct duties are paid at importation. In instances where the Customs Authorities are at error, the importer or exporter may still be liable for any additional duty that may be demanded as a result of that error being discovered.</p>
      <p>You can find the Official Journal on the <%= link_to "European Union Europa website", "http://eur-lex.europa.eu/en/index.htm", rel: "external", target: "_blank", title: "Opens in a new window" %>.</p>
   </section>
  </div>
</article>
<div id="report-a-problem"></div>
