defaults: &defaults
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password:
  host: localhost

development:
  <<: *defaults
  database: tariffs_development

test:
  <<: *defaults
  database: tariffs_test

production:
  <<: *defaults
  database: tariffs_production
