defaults: &defaults
  adapter: postgresql
  encoding: utf8
  host: localhost
  port: 5432

development:
  <<: *defaults
  database: tariffs_development
  username: postgre
  password:

test:
  <<: *defaults
  database: tariffs_test
  username: postgre
  password:
  min_messages: WARNING

production:
  <<: *defaults
  database: tariffs_production
  username:
  password:
  pool: 5
