<header class="page-header group">
  <div>
    <h1>Page not found</h1>
  </div>
</header>
<div class="article-container">
  <article role="article" class="group">
    <div class="inner">
      <p>If you entered a web address please check it was correct.</p>
      <p>You can also <a href="/search">search GOV.UK</a> or <a href="/">browse from the homepage</a> to find the information you need.</p>
    </div>
  </article>
</div>
