<tr>
  <td>
    <strong>
      <%= link_to chapter.code, section_chapter_headings_path(@section, chapter) %>
    </strong>
  </td>
  <td>
    <%= chapter.description %>
  </td>
  <td>
  </td>
  <td>
  </td>
</tr>
