<tr>
  <td>
    <strong>
      <%= link_to chapter.code.first(2), section_chapter_headings_path(@section, chapter) %>
    </strong>
  </td>
  <td>
    <%= link_to chapter.description, section_chapter_headings_path(@section, chapter) %>
  </td>
  <td>
  </td>
  <td>
  </td>
</tr>
