<tr>
  <td>
    <strong>
      <%= link_to chapter.short_code, chapter_path(chapter) %>
    </strong>
  </td>
  <td>
    <%= link_to chapter.description, chapter_path(chapter) %>
  </td>
  <td>
  </td>
  <td>
  </td>
</tr>
