<strong>Section</strong>: <%= link_to @section, section_chapters_path(@section) %>
<br/>
<h2>Chapters in the section</h2>

<table>
  <thead>
    <tr>
      <td colspan="4">
        <strong>Chapters</strong>
      </td>
    </tr>
    <tr>
      <td>
        <strong>No</strong>
      </td>
      <td>
        <strong>Description</strong>
      </td>
      <td>
        <strong>Footnotes</strong>
      </td>
      <td>
        <strong>Your Notes</strong>
      </td>
    </tr>
  </thead>
  <tbody>
    <%= render @chapters %>
  </tbody>
</table>
