<% content_for :title, "#{@chapter} - Trade Tariff - GOV.UK" %>
<% content_for :head do %>
  <link rel='alternate' type='application/json' href='<%= chapter_url(@chapter, format: :json) %>' title='Chapter information page in JSON format' />
<% end %>

<h2 class="heading-medium">Choose the heading that best matches your goods</h2>

<%= render 'shared/tariff_breadcrumbs', chapter: @chapter %>

<section class="headings">
  <table class="section-browser">
    <tbody>
      <%= render @headings %>
    </tbody>
  </table>
</section>

<%= render 'shared/notes', section_note: @chapter.section.section_note, chapter_note: @chapter.chapter_note %>
