<tr>
  <td>
    <strong><%= commodity.code %></strong>
  </td>
  <td>
    <span style='font-weight: bold'>
      <%= "-" * commodity.substring %>
    </span>
    <%= link_to commodity.description, section_chapter_heading_commodity_path(@section, @chapter, @heading, commodity) %>
  </td>
  <td>
    <strong></strong>
  </td>
  <td>
    <strong></strong>
  </td>
  <td>
    <strong></strong>
  </td>
</tr>
