<tr>
  <td>
    <strong><%= commodity.code %></strong>
  </td>
  <td>
    <%= commodity.description %>
  </td>
  <td>
    <strong></strong>
  </td>
  <td>
    <strong></strong>
  </td>
  <td>
    <strong></strong>
  </td>
</tr>
