<tr>
  <td>
    <strong>
      <%= link_to commodity.short_code, commodity_path(commodity) %>
    </strong>
  </td>
  <td>
    <span style='font-weight: bold'>
      <%= "-" * commodity.substring %>
    </span>
    <%= link_to commodity.description, commodity_path(commodity) %>
  </td>
  <td>
    <strong><%= commodity.third_country_duty_cache %></strong>
  </td>
  <td>
    <strong></strong>
  </td>
</tr>
