// GOV.UK elements style guide specifies that 25% or 50% tints
@function tint($color) {
  @return mix($color, #fff, 25%);
}

$chapter-code-bg: tint($mauve);
$heading-code-bg: tint($light-blue);
$commodity-code-bg: tint($turquoise);
$table-header-bg: #e1e8e8;
$table-sub-border: tint($border-colour);
