@mixin indented-item($level) {
  $left-pos: -984px;

  @if $level == 1 {
    padding-left: px(($token-width - $token-padding));
    font-weight: bold;
    @media (min-width: $desktop-min-width) {
      padding-left: px(($token-width - $token-padding) + $token-space);
      background-position: $left-pos + $token-width 1em;
    }
  } @else {
    margin-left: px(($token-width * 2) + (($token-width / 3) * ($level - 2))) * -1;
    padding-left: px(($token-width * 2) + (($token-width / 3) * ($level - 1)));
    font-weight: normal;
    @media (min-width: $desktop-min-width) {
      margin-left: px(($token-width * 2) + ($token-width * ($level - 2))) * -1;
      padding-left: px(($token-width * 2) + ($token-width * ($level - 1)));
      background-position: $left-pos + ($token-width * $level) 1em;
    }
  }
}

@mixin indented-list($levels) {
  $indent-level: 1;

  @while $indent-level < $levels {
    &.level-#{$indent-level}, &.level-#{$indent-level} a {
      @include indented-item($indent-level);
    }
    $indent-level: $indent-level + 1;
  }
}

article.tariff {
  .tree-key {
    float:right;
    font-size: 14px;
    @media (min-width: $desktop-min-width) {
      font-size: 16px;
    }
    padding: 0.5em 1em;
    .key-text {
      position: relative;
      display: inline-block;
      line-height: 1.5625em;
      vertical-align: top;
      margin-left: 0.5em;
      font-size: 14px;
      @media (min-width: $desktop-min-width) {
        top: 0.35em;
      }
    }
  }
}

.commodity-tree {
  border: 1px solid $panel-colour;

  .commodity-tree-note {
    left: 0;
    right: 0;
    margin: 15px;
    color: $secondary-text-colour;
    font-size: 14px;

    &:after {
      content: "";
      display: block;
      clear: both;
    }
    span {
      position: absolute;
      left: -9999em;
    }
    em {
      font-style: normal;
      float: left;
      @media (min-width: $desktop-min-width) {
        &.description::before {
          content: 'Level';
          display: inline-block;
          width: px(($token-width - $token-padding) + $token-space);
        }
      }
      &.commcode {
        float: right;
      }
    }
  }

  .tree-controls {
    background-color: $panel-colour;
    padding: 0.5em 16px;
    vertical-align: top;

    a {
      margin-right: 1em;
      display: inline-block;
      font-size: 14px;
      @media (min-width: $desktop-min-width) {
        font-size: 16px;
      }
    }
  }

  ul.commodities {
    @include contain-float;
    margin: 1em;
    position:relative;
    font-size: 14px;
    @media(min-width: $desktop-min-width) {
      font-size: 16px;
    }

    li {
      @include contain-float;
      @include indented-list(13);
      display: block;
      margin: 0;
      position:relative;
      @media (min-width: $desktop-min-width) {
        background-image: image-url("commodity-indents.png");
        background-repeat: no-repeat;
      }

      &:last-child {
        border-bottom: 0;
      }

      &:last-child > a,
      &:last-child > ul {
        border-bottom: none;
      }

      &.has_children, a {
        padding-top: 0.5em;
      }

      ul, a {
        border-bottom: solid 1px #eee;
      }

      a {
        margin: 0;
        text-decoration:none;
        font-weight: normal;
        position: relative;

        &:hover {
          background-color: $highlight-colour;
          span {
            color: $link-hover-colour;
          }
        }
      }

      .identifier {
        font-family: ntatabularnumbers, "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-weight: normal;
        display: inline-block;
        width: $identifier-width;
        border: 0;
        padding: 0;
        @media (min-width: $desktop-min-width) {
          width: $identifier-width-desktop;
          position: absolute;
          right: 0;
          bottom: 0;
        }
        div {
          text-align: center;
          float: left;
        }
      }

      .rate {
        padding-right:em($token-padding, 14);
        width:em(60, 14);
        text-align:right;
        position:absolute;
        right:0;
        bottom:0;
      }

      article & a, .js-enabled article & a {
        display: block;
        @include contain-float;
        margin-left: 0;
        padding-left: 0;
      }
    }

    ul {
      margin: 0;
      padding-left: 0;
      clear: both;
    }
  }
}

.js-enabled {
  li.open {
    background-position: 0 -100px;
  }

  li.has_children {
    .description {
      color: $link-colour;
      padding-left: px($expand-arrow-space);
      margin-left: -1 * px($expand-arrow-space);
      @media (min-width: $desktop-min-width) {
        margin-right: $identifier-width-desktop + 15px;
      }
      background-image: image-url("expand-collapse-transparent_commodity-tree.png");
      background-position: 0 4px;
      background-repeat: no-repeat;
      cursor:pointer;
      position:relative; /* to give z-index */
    }

   .description:hover,
   .description-hover {
      color: $link-hover-colour;
    }

    a .description {
      margin-left: 0;
      padding-left:0;
      background:none;
    }

    .open {
      background-position:0 -386px;
    }
  }

  .conditions,
  .footnotes,
  .additional-codes {
    display:none;
    clear:both;
  }

  .date-filter-search {
    display:none;
  }

  .tooltip-description {
    display:none;
    position:absolute;
    width:200px;
    padding:px($top-level-padding);
    z-index:1;
    font-size:em(14, 16);
    background:#fff;
    border:solid 1px #bbb;

    p {
      margin:0;
      padding:$top-level-padding;
    }
  }
}
