.search-header .searchfield {
  position: relative;
}

.search-header input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 0 10px;
  height: 50px;
}

.search-header .search-submit {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 50px;
  overflow: visible;
}

.search-header button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 50px;
  height: 50px;
  text-indent: -5000px;
  background-image: url(https://assets.publishing.service.gov.uk/frontend/search/search-button.png);
  background-repeat: no-repeat;
  background-position: -12.5% 50%;
}

.search-header .date-picker a {
  margin-left: 0.75em;
}