@mixin tariff-table {
  caption {
    text-align: left;
  }
  td {
    vertical-align: top;
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

table.tariff-table {
  @include tariff-table();
}

table.tariff-zebra {
  @include tariff-table();
  td {
    border-bottom: 0;
  }
  tr:nth-child(even) {
    background-color: $highlight-colour;
  }
}

table.small-table {
  margin: 0 0 60px 0;
  th, td {
    font-size: 12px;
    @media (min-width: $desktop-min-width) {
      font-size: 14px;
    }
  }
  th {
    background-color: $table-header-bg;
    border: 0;
    font-weight: normal;
  }
  tbody {
    tr:hover, tr:focus {
      background-color: $panel-colour;
    }
  }
  a[rel='external']::after {
    display: none;
  }
}
