@mixin tariff-table {
  caption {
    text-align: left;
  }
  td {
    vertical-align: top;
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
@mixin tariff-zebra {
  @include tariff-table();
  td {
    border-bottom: 0;
  }
  tr {
    background-color: $page-colour;
  }
  tr:nth-child(even) {
    background-color: $highlight-colour;
  }
}

table.tariff-table {
  @include tariff-table();
}

table.tariff-zebra {
  @include tariff-zebra();
}

table.small-table {
  @include tariff-zebra();
  margin: 0 0 30px 0;
  th, td {
    font-size: 12px;
    padding: 0.63158em 0.526315em 0.47368em 0.526315em;
    @media (min-width: $small-table-breakpoint) {
      font-size: 14px;
    }
  }
  th {
    background-color: $table-header-bg;
    border: 0;
    font-weight: normal;
  }
  tr:hover, tr:focus {
    @media (min-width: $small-table-breakpoint) {
      background-color: $panel-colour;
    }
  }
  td {
    min-height: $table-row-standard-height;
  }
  a[rel='external']::after {
    display: none;
  }
  &.measures {
    @media (max-width: $small-table-breakpoint - 1) {
      caption, thead, tbody, th, td, tr {
        display: block;
      }
      thead tr {
        /* Hide table headers but keep them screenreader-accessible */
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      tr {
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: $border-colour;
        &:first-of-type {
          border-top-width: 1px;
        }
      }
      td {
        border-bottom: 1px solid $table-sub-border;
        position: relative;
        padding-left: 50%;
        &:before {
          position: absolute;
          top: 8px;
          left: 8px;
          width: 45%;
          padding-right: 5%;
          white-space: nowrap;
        }
      }
      td:nth-of-type(1):before { content: 'Country'; }
      td:nth-of-type(2):before { content: 'Measure'; }
      td:nth-of-type(3):before { content: 'Value'; }
      td:nth-of-type(4):before { content: 'Conditions that apply'; }
      td:nth-of-type(5):before { content: 'Exclusions'; }
      td:nth-of-type(6):before { content: 'Council Regulation (EEC)'; }
      td:nth-of-type(7):before { content: 'Start date (End date)'; }
      td:nth-of-type(8):before { content: 'Footnotes'; }
    }
    @media (min-width: $small-table-breakpoint) {
      td:nth-of-type(1) { width: 18%; }
      td:nth-of-type(2) { width: 19% }
      td:nth-of-type(3) { width: 13% }
      td:nth-of-type(4) { width: 9% }
      td:nth-of-type(5) { width: 14% }
      td:nth-of-type(6) { width: 9% }
      td:nth-of-type(7) { width: 10% }
      td:nth-of-type(8) { width: 8% }
    }

    /* Expanding table-cell content */
    dl {
      dt {
        cursor:pointer;
        &.has_children {
          padding-left: px($expand-arrow-space);
          background-image: image-url("expand-collapse-transparent.png");
          background-position: 0px 2px;
          background-repeat: no-repeat;
        }
        &.open {
          background-position:0 -389px;
        }
      }
      dd {
        ul {
          margin-top: 1em;
          li {
            margin-top: 0.5em;
          }
        }
      }
    }
  }
}
