/* global variables */
$desktop-min-width: 641px;
$mobile-max-width: $desktop-min-width - 1;

$standard-margin: 16px;

$token-width: 27;
$token-padding: 5;
$token-space: $token-width + $token-padding; /* Uses above values */
$top-level-padding: 10;

$commodity-padding: $token-width;
$expand-arrow-width: 11;
$expand-arrow-space: 11 + $token-padding;

$chapter-code-width: 30px;
$chapter-code-height: 25px;
$heading-code-width: $chapter-code-width;
$commodity-code-width: 66px;
$commodity-code-width-desktop: 70px;

$identifier-width: $chapter-code-width + $heading-code-width + $commodity-code-width;
$identifier-width-desktop: $chapter-code-width + $heading-code-width + $commodity-code-width-desktop;
