// currently only applied on index page
.content-block {
  h2 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    margin: 1.2em 0 0.4em 0;

    @media (min-width: $desktop-min-width) {
      font-size: 24px;
      line-height: 1.25;
    }
  }

  h3 {
    font-size: 16px;
    margin-top: 1em;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 0.75em;

    @media (min-width: $desktop-min-width) {
      font-size: 19px;
      line-height: 1.31579;
    }
  }

  ul {
    padding-left: 1em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    list-style-type: circle;
  }

  .steps {
    overflow: hidden;

    & > li {
      margin: 0.25em 0;
      padding: 0.75em 0 0.75em 2.2em;
      background-position: 0 0.87em;
      background-repeat: no-repeat;
      list-style-type: decimal;

      @for $i from 1 through 14 {
        &:nth-child(#{$i}) {
          background-image: image-url("icon-steps/icon-step-#{$i}.png");

          @include device-pixel-ratio() {
            background-image: image-url("icon-steps/icon-step-#{$i}-2x.png");
            background-size: 24px 24px;
          }
        }
      }

      @include ie-lte(8) {
        margin-left: 1.5em;
        padding-left: 0;
      }

      p {
        margin: 0;
      }
    }
  }
}
