.index-page-right-column {
  padding-top: 5px;
  border-top: 10px solid $govuk-blue;

  h2 {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 700;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  nav {
    ul {
      list-style: none;

      li {
        margin-bottom: 12px;

        a {
          font-size: 16px;
          line-height: 1.25;
        }
      }
    }
  }
}
