// GOV.UK frontend toolkit
@import "typography";
@import "conditionals";
@import "colours";
@import "shims";
@import "device-pixels";
@import "grid_layout";
@import "design-patterns/buttons";

// GOV.UK elements
@import "govuk-elements";

// Trade Tariff components
@import "variables";
@import "functions";
@import "colors";
@import "report-a-problem";
@import "header";
@import "footer";
@import "tariff-breadcrumbs";
@import "sections-list";
@import "tabs";
@import "tables";
@import "measures";
@import "a-z-index";
@import "country-picker";
@import "commodity-tree";
@import "popup";

.phase-banner  {
  @include phase-banner(beta);
}

.highlight {
  background-color: $focus-colour;
  display: inline;
  vertical-align: top;
}

// Utility classes
strong {
  font-weight: bold;
}

.box {
  background-color: $panel-colour;
  padding: 15px;
  margin-bottom: 1.05263em;
  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
}

.heading-large a {
  color: $text-colour;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

section, article {
  margin-bottom: 3em;
}

.desktop-only {
  display: none;
}

@media (min-width: $desktop-min-width) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
}

// Other
.related-module {
  margin-top: 30px;
}
