nav .beta-notice, nav ol {
  display: none !important;
}

#wrapper {
  .group {
    max-width: 1280px;
    padding-top: 40px;
  }
}

form.tariff-search {
  div.string {
    input {
      font-size: 1.9em;
      height: 40px;
    }
  }

  input.button {
    height: 45px;
  }

  .control-group, input.button {
    display: block;
    float: left;
  }

  .control-group {
    margin-right: 10px;
    width: 750px;
  }
}

.paginate {
  height: 36px;
  margin: 18px 0;

  ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }

  li {
    display: inline;
  }

  a {
    float: left;
    padding: 0 14px;
    line-height: 34px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-left-width: 0;
  }

  a:hover, .active a {
    background-color: #f5f5f5;
  }

  .active a {
    color: #999999;
    cursor: default;
  }

  .disabled span,
  .disabled a,
  .disabled a:hover {
    color: #999999;
    cursor: default;
    background-color: transparent;
  }

  li:first-child a {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
       -moz-border-radius: 3px 0 0 3px;
            border-radius: 3px 0 0 3px;
  }

  li:last-child a {
    -webkit-border-radius: 0 3px 3px 0;
       -moz-border-radius: 0 3px 3px 0;
            border-radius: 0 3px 3px 0;
  }
}
