header.page-header hgroup h1 {
  padding-left: 0;

  span {
    color: #10370D;
  }

}

header.page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom: 0;

  hgroup {
    border-top-color: #7FB299;
  }
}

#new_commodity_search {
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  width: 174px;
  padding: 5px 13px;
  font-size: 0.85em;

  .btn {
    background-color: #28a197;
    border-color: #28a197;
  }
}

#commodity_search_q {
  width: 8em;
}

#index {
  list-style-type:upper-roman
}

dl dl {
  margin-top: 0;
}

dt {
  float: left;
  width: 1.8em; // fix this, relative widths aren't going to work
  clear: left;
  text-align: center;
  display: block;
}

dl.tariff-fragments dt {
  background: #CCE0D6;
  border-top: solid 1px #7FB299;
  border-right: solid 1px #7FB299;
}

dd {
  float: left;
  display: block;
  margin: 0;
  padding-left: 0.5em;
  width: 90%;
}

// this H1 is nested inside the DL for structural purposes
dl h1 {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  line-height: 1.5em;
  color: #333;
}