@import "_conditionals.scss";
@import "_colours.scss";
@import "_shims.scss";

/* global variables */

$token-width: 27;
$token-padding: 5;
$token-space: $token-width + $token-padding; /* Uses above values */
$top-level-padding: 10;

$top-section-blue: #EAF3F8;

/* end global variables */

/* variables local to commodities */

$commodity-padding: $token-width;
$expand-arrow-width: 9;
$expand-arrow-space: 9 + $token-padding;

/* end variables local to commodities */

/* conversion functions */

@function em($target-px, $current-px) {
  @return $target-px * (1 / $current-px) * 1em;
}

@function px($value) {
  @return $value * 1px;
}

/* end conversion functions */

/* mixins */

@mixin contain-float {
  zoom: 1;

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

/* Styles inherited from static */

@mixin table {
  border-collapse: collapse;
  border-spacing: 0;

  caption {
    text-align:left;
    font-weight: 300;
    font-size:em(19, 16);
    padding: 0 em(30, 19) px($top-level-padding);
    margin-bottom: 0;
  }

  th,
  td {
    vertical-align: top;
    line-height: 1.3em;
    padding: 0.7em 0.75em 0.7em 0.75em;
  }

  tr:nth-child(even) td {
    background-color: #fff;
  }

  td {
    background: #fafafa;
    border:dotted 1px #bbb;
  }

  th {
    line-height:1.25em;
    text-align: left;
    color:#000;
    font-weight:normal;
    background-color: #e1e8e8;
    border:solid 1px #bbb;
  }
  th.legal-act {
    width:6.66666664em;
  }
  td small{
    font-size:1em;
  }
}

// the tab panes associated with these tabs require the following styles:
// border-top:solid 1px #C9D0D0;

@mixin tabs($side-padding) {
    padding: 0 0 0 px($side-padding);
    position: relative;

  ol,
  ul {
    background-color: #C9D0D0;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 5;
  }

  @include ie(6) {
    ol,
    ul {
      overflow: hidden;
      padding: 1px 1px 0 0;
    }
  }

  ol li,
  ul li {
    float: left;
  }

  li a {
    background-color: #E1E8E8;
    display: block;
    height: 2.25em;
    line-height: 2.25em;
    margin-left: 1px;
    padding: 0 1em 0 0.75em;
    position: relative;
    text-align: center;
    text-decoration: none;
    top: 0;
  }
  @include ie(6) {
    li a {
      background-image: none;
      padding: 0 1em;
    }
  }

  li:first-child a {
    border-left: solid 1px #E1E8E8;
    margin-left: 0;
  }

  li a:hover {
    background-color: #97C5E5;
    color: inherit;
  }

  li.active a {
    background-color: #fff;
    border: solid 1px #C9D0D0;
    border-bottom: solid 1px #fff;
    color: #000;
    margin: -1px -1px -1px 0;
    position: relative;
    z-index: 5;
  }
  @include ie(6) {
    li.active a {
      bottom: -1px;
    }
  }

  li.active a:hover {
    background-color: #fff;
    color: #2E8ACA;
  }
}

/* Mixins specific to tariff */

@mixin tariff-identifier {
  color:#000;
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}

@mixin tariff-identifier-reset {
  color:#333;
  font-family:"NTA", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

@mixin underlined-section-list {
  dt,
  dd {
    border-top:1px solid #eee;
  }

  dt:nth-child(1),
  dd:nth-child(2) {
    border-top:none;
    padding-top:1px;
  }
}

@mixin underlined-ordered-list {
  li {
    border-top:1px solid #eee;
  }

  li:nth-child(1) {
    border-top:none;
    padding-top:1px;
  }
}

@mixin underlined-token-list {
  dt,
  dl dt:nth-child(1) {
    border-top:1px solid #fff;
  }

  dd,
  dl dd:nth-child(2) {
    border-top:1px solid #eee;
  }

  dt:nth-child(1),
  dd:nth-child(2) {
    border-top:none;
    padding-top:1px;
  }
}

// selected sections have consistent styling except for their spacing from the left-side
// this is therefore left as a variable value

@mixin selected-section($side-padding) {
  margin: 0 0 0 px(-1 * ($side-padding + $token-width + $token-padding));
  padding: px($top-level-padding) px($top-level-padding) px($top-level-padding) px($side-padding + $token-width + $token-padding);
  background: #fff;
}

// generates commodity tree items based on the level
@mixin indented-item($level) {
  $left-pos: -984px;

  @if $level == 1 {
    padding-left: px(($token-width - $token-padding) + $token-space);
    background-position: $left-pos 0.5em;
  } @else {
    margin-left: px(($token-width * 2) + ($token-width * ($level - 2))) * -1;
    padding-left: px(($token-width * 2) + ($token-width * ($level - 1)));
    background-position: $left-pos + (12px * ($level - 1)) 0.5em;
  }
}

@mixin indented-list($levels) {
  $indent-level: 1;

  @while $indent-level < $levels {
    &.level-#{$indent-level} {
      @include indented-item($indent-level);
    }
    $indent-level: $indent-level + 1;
  }
}

/* end mixins */

.visuallyhidden {
  height:1px;
  width:1px;
  overflow:hidden;
}

mark {
  color:inherit;
  background:none;
}

header#global-header,
footer#footer,
section#content {
  min-width: 960px;
}

div.header-context {
  min-width: 960px - px(4 * 16);

  @include ie(7) {
    min-width: 960px;
  }
}

@include ie(6) {
  section#content {
    width: 960px;
  }
}

.tariff header.page-header hgroup,
.tariff .article-container {
  margin-right:0;
}

.tariff .article-container {
  padding-bottom:em(25, 19);
  position:relative;
}

.tariff header.page-header hgroup{
  padding-bottom:0;
  padding-right:px($top-level-padding);
}

.tariff header.page-header hgroup h1{
  font-size:em(24, 16);
  padding:em(16, 24) em($top-level-padding, 24) em($top-level-padding, 24) em(73, 24);
  width:50%;
}

#wrapper.tariff header.page-header hgroup h1{
  @include media($min-width: 1020px) {
    background-position: 15px 15px;
    padding-left:128px;
  }

  background-position: 0px 15px;
  padding-left: 76px;
}

.tariff header.page-header hgroup h1 span {
  font-size:em(14, 24);
}

.tariff header.page-header hgroup p,
.tariff header.page-header hgroup form {
  font-size:em(14, 16);
  text-align:right;
  margin:em(-33, 14) 0 0;
  padding:0 0 em(16, 14);
  background:none;
  line-height:2em;

  &.sections-context {
    margin-right:em(71, 14);
  }
}

.tariff header.page-header hgroup form p {
  margin-top:0;
}

.tariff p.tariff-date,
.tariff .date-filter-search {
  font-size: em(14, 16);
  padding: 0 px($top-level-padding) px($top-level-padding) 52%;
  margin: -2em 0 0;
  line-height: 2em;
  background: #fff;

  @include ie(6) {
    zoom: 1;
    padding-left: 36em;
  }
}

.tariff p.tariff-date a {
  font-size:em(14, 16);
  display:inline-block;
  margin-left:1em;
}

.tariff fieldset.country-picker select {
  width: 200px;
}

.tariff form.tariff-search a:hover {
  cursor: pointer;
}

.tariff p.sections-context {
  padding-right:em(81, 14);
}

.commodities .chapter-code,
.commodities .heading-code {
  border-right:#fff solid 2px;
}

.chapter-code {
  background:#D4D5E7;
}

.heading-code {
  background:#B6D7EB;
}

article table {
    @include table;
    width:106.4%; /* override for static styles */
    margin:em(32, 16) -1 * em(30, 16) 0; /* override for static styles */

  th,
  td {
    font-size:em(14, 19);
  }

  .tab-content & p {
    margin:0;
    font-size:1em;
  }

  /* Expanding table-cell content */

  dl {
    padding:0;
    background:none;
  }

  dt {
    @include tariff-identifier-reset;
    width:auto;
    position:static;
    float:none;
    text-align:left;
    cursor:pointer;
  }

  dd {
    float:none;
    padding-left:0;
  }

  dt.has_children {
    padding-left: px($expand-arrow-space);
    background-image: image-url("expand-collapse-transparent.png");
    background-position: 0px 2px;
    background-repeat: no-repeat;
  }

  dt.open {
    background-position:0 -389px;
  }

  ul {
    list-style:none;
  }

  li {
    font-size:1em;
    padding-left:0;
  }

  a[rel="external"]:after {
    content:"";
    margin-left:0;
    margin-right:0;
  }
}

article.tariff {
  font-size:em(14, 16);
  min-height:34em; /* right column needs this to show all content */
  @include ie(6) {
    height:34em;
  }
}

.tariff {
  a {
    text-decoration:none;

    &:hover,
    &:focus {
      color:#2e8aca
    }
  }

  p {
    font-size:1em;
    padding-left:8.4375%;
    padding-right:8.4375%;
    margin-left:px($top-level-padding);
    margin-right:px($top-level-padding);
  }

  .inner {
    padding: 0;
  }
}

.help-notice, .info-notice {
  padding:0.25em 1em 0.25em 1em;
}

.tariff-search {
  font-size:em(14, 16);
  line-height:2em;
  background:#fff;
  padding:0 px($top-level-padding) 1em px($token-space);
  @include contain-float;

  p {
    display:inline;
    padding:0 3em 0 0;
    margin:0;
    text-align:left;

    a {
      font-size:0.85em;
      float:none;
    }
  }

  input {
    font-size:1em;
  }

  fieldset {
    float: left;
    width: 49%;

    &.relevant-links {
      clear: both;
    }
  }
}

#commodity_search_q {
  width: 8em;
}

#ui-datepicker-container {
  position:relative;
  height:0;
  width:auto;
  overflow:visible;
  z-index:2;
}

.ui-datepicker {
  background:#fff;
  border:1px solid #eee;
  padding:px($top-level-padding);
  display:none;
  position:absolute;
  right:0;
  z-index:2;
  text-align:left;
  line-height:1.5;

  .ui-datepicker-header {
    padding:0 px($token-padding + 16);
    @include ie-lte(7) {
      width:1px;
    }
  }

  .ui-datepicker-header a {
    position:absolute;
    top:10px;
    display:block;
    margin:0;
  }

  .ui-widget-header .ui-icon {
    background-image: image-url("ui-icons_222222_256x240.png");
  }

  .ui-datepicker-prev {
    left:10px;
  }

  .ui-datepicker-next {
    right:10px;
  }

  th {
    width:1.7142857em;
  }

  td {
    text-align:center;
  }

  td .ui-state-default {
    background:none;
    text-decoration:none;
  }

  td a {
    display:block;
  }

  .ui-state-highlight,
  .ui-widget-content .ui-state-highlight,
  .ui-widget-header .ui-state-highlight {
    border-width:3px;
  }

  iframe.ui-datepicker-cover { display:none;  }
}

#index {
  list-style-type:upper-roman
}

article dl {
  padding: px($top-level-padding) px($token-width) 0;
  padding: px($top-level-padding) 0 0;
  margin: 0;
  background: $top-section-blue;
  position: relative;
  zoom:1;

  dl {
    @include contain-float;
    padding-top:0px;
  }
}

article dt {
  float: left;
  cursor: pointer;
  width: px($token-width);
  clear: left;
  text-align: center;
  display: block;
  font-size: 1em;
  line-height:1.5;
  position: absolute;
  left: 0;
  font-weight:normal;
  margin-bottom:0; /* reset of static */

  &.section-number {
    position:static;
    width:auto;
    margin-right:px($token-padding);
    margin-left:px($token-padding);
  }

  &.hover {
    color: #2E8ACA;
  }
}

article .help-notice {
  background-color: #eaedef;
}

dl.chapters,
dl.tariff-fragments .chapter-headings {
  @include underlined-token-list;
}

dl.chapters dt,
dl.tariff-fragments .chapter-headings dt {
  border-top:solid 1px #fff; /* offset the border-bottom on the token */
}

dl.tariff-fragments {
  padding: 0;

  dt {
    @include tariff-identifier;

    &.hover {
      color: #2E8ACA;
    }
  }

  dd {
    float: none;
    padding-left: px($token-space);
    margin: 0;
  }

  dl {
    position: relative;
    margin-left:px(-1 * $token-padding);
    padding:0;
  }
}

article dd {
  float: left;
  display: block;
  margin: 0;
  padding-left: px($token-space - $top-level-padding);

  // this is so the children of this are cleared out left as the
  // internal content is pushed over by the float
  &.section-title {
    width: auto;
    float: none;
    margin-bottom: 0;
    padding-left: 0;

    a {
      display: block;
      position: relative;
      z-index: 1;
    }

    .js-enabled & a {
      display: inline;
    }

    .js-enabled & a.hover {
      color: #2E8ACA;
    }

    dl a {
      display: inline-block;
      padding-left: px($token-space);
      margin-left: px($token-space) * -1;
    }

    .js-enabled & dl a {
      padding-left: px($token-padding);
      margin-left: px($token-padding) * -1;
    }

    .js-enabled & dl a.hover {
      color: #2E8ACA;
    }
  }
}

dl h1 {
  font-size: 100%;
  margin: 0;
  padding-bottom: px($top-level-padding);
  line-height: 1.5em;
  color: #333;
}

dl h1 .identifier {
  font-weight:400;
}

/* sections */

p.sections-intro {
  padding-left:0.5em;
  padding-right:1em;
}

dl.sections {
  @include underlined-section-list;
  background:#fff;
  padding-left:px($token-space);
  padding-right:em(81, 14);

  dt {
    position:static;
    display:inline;
    width:16%;
    text-align:left;
    font-weight:normal;
  }

  a {
    display: block;
    padding-left: 19%;
    margin-left: -19%;
    position: relative;
    z-index: 1;
    zoom: 1;
  }
}

dl.sections dd {
  width: 84%;
  padding-left: 0px;

  &.hover {
    width: 84%;
  }
}

article.section-notes {
  h2,
  p {
    margin-left: px($token-space);
    margin-right: px($token-space);
  }

  p {
    padding-left: 0;
    padding-right: 0;
  }
}

/* chapters and chapter headings */

article.chapters dt {
  position:static;
  width:auto;
  margin-right:px($token-padding);
}

article.chapters dl.tariff-fragments dt {
  width:px($token-width);
}

dl.tariff-fragments dl.chapter-headings,
dl.chapters,
p.chapters-intro {
  @include selected-section(0);
}

dl.chapters {
  margin-left: 0;
  padding-left: 0;
  @include underlined-token-list;
}

dl.chapter-headings dt,
dl.chapters dt {
  left:px($token-space);
}

dl.chapter-headings {

  dt.heading-subtitle {
    display:block;
    float:none;
    position:static;
    padding-top:px($top-level-padding / 2);
    margin:0;
    width:auto;
    text-align:left;
    font-size:1em;
    font-weight:normal;
    font-family:"NTA", "Helvetica Neue", Arial, Helvetica, sans-serif;
  }

  dd.subtitle-description {
    padding-left:0;
    border-top:none;
  }
}
.chapter-notes {
  padding:0 px($top-level-padding) 0;
  width:auto;
  font-size:1em; /* 14px */

  h2,
  li {
    font-size:1em; /* 14px */
    margin-bottom:1em;
  }

  ol {
    margin-left:0;
    padding-left:em(($token-space - $top-level-padding), 14);
  }

  ol li {
    list-style-type:decimal;
    padding-left:0;
    margin-bottom:1em;
  }

  ol ol {
    padding-left:0;
    margin-top:1em;
  }

  ol ol li {
    list-style-type:lower-alpha;
  }

  p {
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
  }
}

.tariff ul,
.tariff li,
.tariff ul ul {
  list-style:none;
  list-style-image:none;
}

.tariff .commodity-tree-note {
  background: #fff;
  margin: 0 0 0 px($token-width + $token-space) * -1;
  padding: px($token-padding) em(137, 14) 0 px($token-width + $token-space);
  line-height: (20 / 12);
  color: $grey-40;
  @extend %contain-floats;

  @include ie(6) {
    position: relative;
  }

  /* the parent needs to have the same font-size as the tree so zooming works */
  span,
  em {
    font-size: em(12, 14);
  }

  span {
    position: absolute;
    left: -9999em;
  }

  em {
    font-style: normal;
    float: left;

    &.code {
      float: right;
      width: 8em;
      margin-right: -8em;
    }
  }
}

ul.commodities {
  @include contain-float;
  background: #fff;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -1px * ($token-width + $token-space);
  padding-left: px($token-padding);
  padding-right: em($top-level-padding, 14);
  position:relative; /* to give z-index */

  li {
    display: block;
    margin: 0;
    padding: 0;
    position:relative;
    background-image: url(commodity-indents.png);
    background-repeat: no-repeat;
    background-color: transparent;
    @include contain-float;

    &:last-child {
      border-bottom: 0;
    }

    @include indented-list(13);

    a,
    ul {
      border-bottom: solid 1px #eee;
    }

    &:last-child > a,
    &:last-child > ul {
      border-bottom: none;
    }

    @include ie-lte(8) {
      &.last-child > a,
      &.last-child > ul {
        border-bottom: none;
      }
    }

    /* Not ASCII art but CSS to patch IE6's lack of a descendant selector */
    @include ie(6) {
      &.last-child ul a,
      &.last-child ul ul,
      &.last-child ul li a,
      &.last-child ul li ul,
      &.last-child ul li.last-child ul li a,
      &.last-child ul li.last-child ul li ul,
      &.last-child ul li.last-child ul li.last-child ul li a,
      &.last-child ul li.last-child ul li.last-child ul li ul,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li a,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li ul,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li a,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li ul,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li a,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li ul,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li a,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li ul,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li a,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li ul,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li a,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li ul,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li a,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li ul {
        border-bottom: solid 1px #eee;
      }

      &.last-child a,
      &.last-child ul,
      &.last-child ul li.last-child a,
      &.last-child ul li.last-child ul,
      &.last-child ul li.last-child ul li.last-child a,
      &.last-child ul li.last-child ul li.last-child ul,
      &.last-child ul li.last-child ul li.last-child ul li.last-child a,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child a,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child a,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child a,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child a,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child a,
      &.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul li.last-child ul {
        border-bottom: none;
      }
    }

    a {
      margin:0;
      text-decoration:none;

      &:hover span {
        color: #2E8ACA;
      }
    }

    span {
      font-size: em(14, 19);
      line-height:1.5;
      float: left;
      display: inline;

      &.description {
        padding-right:8.6em;
        margin-right:px($token-space);
      }

      &.identifier {
        @include tariff-identifier;
        font-weight:normal;
        border: 0;
        padding: 0 em(7, 14) 0 0;
        float:right;
        background:#B5DEDB;
        width:8.6em;
        text-align:right;

        span {
          font-size:1em;
          text-align:left;
          padding:0 em(5, 12) 0 em(7, 14);
        }

        .heading-code {
        }
      }

      &.rate {
        padding-right:em($token-padding, 14);
        width:em(60, 14);
        text-align:right;
        position:absolute;
        right:0;
        bottom:0;
      }
    }

    .js-enabled article & a,
    article & a {
      display: block;
      @include contain-float;
      margin-left: 0;
      padding-left: 0;
    }
  }

  ul {
    margin: 0;
    padding-left: 0;
    clear: both;

    @include ie-lte(7) {
      margin-left: -16px;
    }
  }
}

dl.tariff-fragments dl.commodities {
  margin-left:px($token-width);
  padding-bottom:px($top-level-padding);

  dt {
    @include tariff-identifier-reset;
    width:auto;
    float:none;
    position:static;
    text-align:left;
    font-weight:normal;
    font-family:"NTA", "Helvetica Neue", Arial, Helvetica, sans-serif;
  }

  span {
    &.identifier {
      float:left;
      @include tariff-identifier;
      padding: 0 em(5, 14) 0 em(7, 14);
      margin-right:5px;
      background:#B5DEDB;
    }

    &.description {
      overflow:hidden;
      display:block;
    }
  }
}

dl.tariff-fragments dd.declarable {
  margin-bottom:px($top-level-padding);
}

.nav-tabs,
.tab-content {
  font-size:em(16, 14);
}

.nav-tabs {
  @include contain-float;
  background:$top-section-blue;
  @include tabs($token-width);

  li {
    padding:0;
    margin:0;
    font-size:1em;
  }
}

.tab-content {
  margin:0;
  width:100%;

  .tab-pane {
    padding-right:0;
    padding-left:0;
    border-top:solid 1px #C9D0D0;
    clear:both;
    width:100%;
  }

  .inner {
    padding:0em 2.5em 1em;

    p {
      margin-left:0;
      margin-right:0;
    }
  }

  h1.visuallyhidden + h2 {
    margin-top:14px;
  }

  p {
    font-size:em(19, 16);
    padding:0;
    margin-left: em(40, 19);
    margin-right: em(40, 19);
  }

  em {
    font-style: normal;
    font-weight: bold;
  }

  nav {
    margin: 1em (-1 * em(22, 16)) 0; /* override for static styles */
  }

  .help-notice {
    margin: 1em 1.5em 2em;

    p {
      margin-right: 0;
      margin-left: 0;
    }
  }

  .inner .help-notice {
    margin: 2em -1em 0em;
  }
}

p.tree-controls {
  margin-left: px($token-width);
  margin-bottom: 0;
  padding:0;

  a {
    font-size:1em;
    line-height:1.5;
  }
}

.conditions article,
.footnotes article {
  min-height:0;
}
.conditions + .return-to-top,
.footnotes + .return-to-top {
  clear:both;
  padding-top:2em;
}

/* Popup lightbox */

#popup.tariff-info {
  position: fixed;
  top: 12px;
  height:auto;
  width: auto;
  max-width: 720px;
  padding:0;
  zoom:1;

  @include ie(6) {
    position: absolute;
    width:720px;
  }

  .info-content,
  article {
    padding: 0 px($top-level-padding) px($top-level-padding) px($top-level-padding);
  }

  .info-content {
    background-color: #f2f2f2;
    padding: 2.4em px($top-level-padding) px($top-level-padding) px($top-level-padding);
  }

  /* resets for article styles */
  article {
    float:none;
    margin:0;
    width:auto;
    height:auto;
    min-height:0;

    padding-bottom:3em;
    overflow:hidden;
  }

  .close {
    padding:0.2em px($top-level-padding) 0.2em 0.5em;
    text-align:right;

    a {
      background-position:0.6875em 0.6875em;
      display:inline-block;
      text-indent:99999px;
      overflow:hidden;
    }
  }

  table {
    margin:0;
    width:100%;

    caption {
      padding-left: 0;
      padding-right: 0;
    }

    p {
      font-size: 1em;
      margin-top:0;
    }
  }
}

/* Search */

/* variables specific to search */

$results-padding: 81 - $top-level-padding;

/* end variables specific to search */

h1.search-heading,
article.search-results {
  padding: px($top-level-padding);
  width:auto;
}

h1.search-heading {
  background: $top-section-blue;
  color:#000;
  font-size:1em;
  font-weight:normal;
}

article.search-results {
  font-size:em(14, 16);
  padding-bottom:2em;

  h2 {
    clear:both;
    font-size:em(20, 16);
    margin-left:px($token-space - $top-level-padding);
  }

  dl {
    position:relative;
    background:none;
    padding:0;
    @include underlined-token-list;
  }

  .results-subset {
    margin-left:px($token-space - $top-level-padding);

    li {
       @include underlined-ordered-list;
       font-size:1em; /* 14px */
       list-style:none;
       margin-left:-1 * px($token-padding);
    }

    .results-headings {
      margin-bottom: 1.5em;
    }
  }

  .sections {
    @include underlined-section-list;

    dt {
      width:15%;
      float:left;
      padding-right:0px;
      margin-left:0;
      font-family:"NTA", "Helvetica Neue", Arial, Helvetica, sans-serif;
    }

    dd {
      width: 85%;
      display: block;
      padding: 0;
      margin: 0;
      overflow:hidden;

      @include ie-lte(7) {
        width: 84%;
      }

      a {
        display: block;
        padding-left: 15%;
        margin-left: -15%;
      }
    }
  }

  dt {
    @include tariff-identifier;

    &.hover {
      color: #2E8ACA;
    }
  }

  dd {
    padding-left:px($token-space);
    float:none;
  }

  dd a {
    text-decoration:none;
    display: inline-block;
    padding-left: px($token-space);
    margin-left: px($token-space) * -1;
    position: relative;
    z-index: 1;

    &.hover {
      color: #2E8ACA;
    }

    .js-enabled & {
      padding-left: px($token-padding);
      margin-left: px($token-padding) * -1;
    }
  }

  dl dl {
    margin-left:-1 * px($token-padding);
  }
}

.date-filter-search {
  line-height:2em;
  font-size:1em;

  input {
    margin-right:1em;
  }

  p {
    padding: 0;
    margin: 0;
    line-height: 2em;
  }

  .button {
    vertical-align:middle;
    display:inline-block;
    margin-left:0.5em;
  }
}

.related-module {
  background: #fff;
  font-size:em(14, 16);
  padding:0 1em 7em px($token-width);
  @include contain-float;

  h1 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: $grey-40;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  a {
  }

  address{
    font-style:normal;

    a {
      margin-bottom: 0;
    }

    .tel{
      display:inline-block;
      margin-left:0.5em;
      color: #000;
      font-family:"NTA", "Helvetica Neue", Arial, Helvetica, sans-serif;
    }
  }
}

.tariff .flag {
  display:block;
  width:16px;
  height:11px;
  overflow:hidden;

  &.eu{
    background: image-url('eu.png');
  }
  &.uk{
    background: image-url('uk.png');
  }
}

.tariff{
  a.suspended{
    color: #f47738;
  }
  a.suspended:hover{
    color: #ffbf47;
  }
}

#loader {
  position:fixed;
  top:45%;
  width:100%;
  height:50px;
  text-align:center;
  z-index:99999;
}

#loader img {
  margin:0 auto;
  width:50px;
  height:50px;
}

.js-enabled {
  li.has_children {

  }

  li.open {
    background-position: 0 -100px;
  }

  li.has_children .description {
    color: #2E3191;
    padding-left: px($expand-arrow-space);
    margin-left: -1 * px($expand-arrow-space);
    background-image: image-url("expand-collapse-transparent.png");
    background-position: 0 6px;
    background-repeat: no-repeat;
    cursor:pointer;
    position:relative; /* to give z-index */
  }

  li.has_children .description:hover,
  li.has_children .description-hover {
    color: #2E8ACA;
  }

  li.has_children a .description {
    margin-left: 0;
  }

  li.has_children .open {
    background-position:0 -385px;
  }

  li.has_children a .description {
    padding-left:0;
    background:none;
  }

  .return-to-top {
    display:none;
  }

  .conditions,
  .footnotes,
  .additional-codes {
    display:none;
    clear:both;
  }

  .date-filter-search {
    display:none;
  }

  .tooltip-description {
    display:none;
    position:absolute;
    width:200px;
    padding:px($top-level-padding);
    z-index:1;
    font-size:em(14, 16);
    background:#fff;
    border:solid 1px #bbb;

    p {
      margin:0;
      padding:$top-level-padding;
    }
  }
}
