<% measure.footnotes.each do |footnote| %>
  <%= link_to footnote.code, "#", class: 'reference', title: 'Opens in a popup', 'data-popup-ref' => "footnote-#{footnote.id}" %>&nbsp;
  <div class='popup hidden' data-popup='footnote-<%= footnote.id %>'>
    <article>
      <table class="small-table">
        <caption>
          <h2 class="heading-medium">Footnote for commodity</h2>
        </caption>
        <thead>
          <tr>
            <th>Code</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <%= render footnote %>
        </tbody>
      </table>
    </article>
  </div>
<% end %>
