<% if @export_measures[:third_country_measures].any? %>
<%= render partial: 'measures/third_country',
    locals: { measures: @export_measures[:third_country_measures] } %>
<% else %>
  <p>There are no EU third country measures for this commodity.</p>
<% end %>
<% if @export_measures[:specific_measures].any? %>
<%= render partial: 'measures/specific_country',
    locals: { measures: @export_measures[:specific_measures] } %>
<% else %>
  <p>There are no VAT or Exise measures for this commodity.</p>
<% end %>
