<title><%= yield :title %> | GOV.UK</title>
<section id="content" role="main" class="group ancillary section-page">
  <%= render 'shared/header' %>

  <hr />
  <article>
    <%= yield %>
  </article>
</section>
